#contents
  =h1 "Feuilles de style alternatives"

  %p
    Il est possible de choisir une feuille de style (CSS) alternative pour l'affichage du site LinuxFr.org.
    Les feuilles de styles disponibles ici sont des copies provenant de sites externes.
    Pour en choisir une, cliquer simplement sur son nom.

  %p
    Votre feuille de style actuelle est&nbsp;: #{@current || "celle par défaut"}.

  = form_tag "/stylesheet" do
    - @stylesheets.each do |css|
      %button{ :type => "submit", :name => "stylesheet", :value => css.url, :title => css.name }
        %img{ :src => css.image, :alt => css.name }

  = form_tag "/stylesheet" do
    = label_tag :stylesheet, "Autre feuille de style"
    = text_field_tag :stylesheet
    = submit_tag 'OK'


  = button_to "CSS par défaut", "/stylesheet", :method => :delete
