#contents
  =h1 "Feuilles de style alternatives"

  %p
    Votre feuille de style actuelle est&nbsp;: #{@current || "celle par défaut"}.

  %p
    Vous souhaitez revenir à la CSS fournie par défaut ? Cliquez sur ce bouton :

  = button_to "CSS par défaut", "/stylesheet", :method => :delete, :class => "ok_button"

  %p
    Il est possible de choisir une feuille de style (CSS) alternative pour l'affichage du site LinuxFr.org.
    Pour en choisir une, cliquer simplement sur son nom.

  = form_tag "/stylesheet", :method => :put do
    %input(type="radio" name="css_session" value="all" id="css_session_all" checked)
    %label(for="css_session_all") Activer cette feuille de style pour toutes les sessions
    %input(type="radio" name="css_session" value="current" id="css_session_current")
    %label(for="css_session_current") Activer cette feuille de style uniquement pour la session en cours

    - @stylesheets.each do |css|
      %button{ :type => "submit", :name => "stylesheet", :value => css.url, :title => css.name }
        %img{ :src => css.image, :alt => css.name }

  %p
    En plus des feuilles de style proposées sur cette page, vous pouvez utiliser une feuille de style de votre choix.
    Deux méthodes vous sont proposées : utiliser une feuille de style hébergée sur un autre serveur ou uploader un fichier.

  %p
    Dans les deux cas, la feuille de style peut être une réécriture complète ou juste l'ajout de quelques règles à la feuille de style par défaut.
    Pour cela, il vous suffit de commencer votre feuille de style par la déclaration suivante :

  %pre
    @import url("//#{MY_DOMAIN}/assets/application.css");

  = form_tag "/stylesheet", :method => :put do
    = label_tag :stylesheet, "Pour utiliser une feuille de style externe, veuillez saisir son URL :"
    = text_field_tag :stylesheet
    = submit_tag 'OK'

  = form_tag "/stylesheet", :multipart => true do
    = label_tag :uploaded_stylesheet, "Pour utiliser une feuille de style présente sur votre ordinateur, veuillez l'uploader :"
    = file_field_tag :uploaded_stylesheet
    = submit_tag 'OK'
