= article_for bookmark do |c|
  - c.title = "#{link_to "Lien", "/liens", class: "topic"} #{link_to bookmark.title, [bookmark.owner, bookmark]}".html_safe
  - c.image = mini_avatar_img(bookmark.owner)
  - c.body = capture do
    %p
      = link_to bookmark.link, bookmark.link,  hreflang: bookmark.lang
      #{lang(bookmark)}
  - if current_account && current_account.can_update?(bookmark)
    - c.actions = link_to("Modifier", edit_user_bookmark_path(user_id: bookmark.owner, id: bookmark), class: 'action')
