= article_for preview do |c|
  - c.title = "#{link_to "Lien", "/liens", class: "topic"} #{link_to spellcheck(preview.title), "#"}".html_safe
  - c.image = mini_avatar_img(preview.node.user)
  - c.body = capture do
    %p
      = link_to preview.link, preview.link, hreflang: preview.lang
      #{lang(preview)}
