= messages_on_error @poll

%p
  = form.label :title, "Question"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :wiki_explanations, "Texte descriptif"
  = form.text_area :wiki_explanations, :spellcheck => 'true', :class => 'markItUp'
%p
  Réponses possibles
= form.fields_for :answers do |aform|
  %p
    = aform.text_field :answer
%p
  = form.submit "Enregistrer"
