= article_for interview do |c|
  - c.title = link_to("Proposition d'entretien : #{h interview.title}", moderation_interview_path(:id => interview.id))
  - c.body  = sanitize(spellify interview.body)
  - if interview.open?
    - c.actions = capture do
      - form_tag contact_moderation_interview_path(interview) do
        = submit_tag "J'ai contacté l'interviewé"
  - if interview.sent? || interview.published?
    - c.actions = capture do
      - form_tag publish_moderation_interview_path(interview) do
        = label_tag :news_id, 'Associer à la dépêche n°'
        = text_field_tag :news_id, '', :size => 8
        = submit_tag "Associer"
