- article_for interview do
  %header
    %h2
      = link_to "Proposition d'entretien : #{h interview.title}", moderation_interview_path(:id => interview.id)
    %p
      = posted_by(interview)
  .content
    = sanitize(spellify interview.body)
  %footer
    %p
      - if interview.open?
        - form_tag contact_moderation_interview_path(interview) do
          = submit_tag "J'ai contacté l'interviewé"
      - if interview.sent? || interview.published?
        - form_tag publish_moderation_interview_path(interview) do
          = label_tag :news_id, 'Associer à la dépêche n°'
          = text_field_tag :news_id, '', :size => 8
          = submit_tag "Associer"
    %p
      = read_it(interview)
