%h2
  Vos derniers commentaires
- if @comments.empty?
  %p
    Vous n’avez posté aucun commentaire
- else
  - if @self_answer
    = link_to "Ne pas inclure les réponses à mes commentaires", self: nil
  -else
    = link_to "Inclure les réponses à mes commentaires", self: "1"
  %br
  %table#my_comments
    %tr
      %th Fil initiateur
      %th Sujet du commentaire
      %th Date
      %th Note
      %th <abbr title="Nombre de réponses">Rép.</abbr>
      %th Dernière réponse
    - @comments.each do |comment|
      - next if comment.node.nil?
      - answer = comment.last_answer
      %tr
        %td #{translate_content_type comment.content_type} : #{link_to_content comment.content}
        %td= link_to comment.title, path_for_content(comment.node.content) + "#comment-#{comment.id}"
        %td.date= comment.created_at.to_fs(:posted)
        %td.number= comment.bound_score
        %td.number
          - if answer && !answer.read_by?(current_account)
            = image_tag "/images/icones/comment.png", alt: "Nouveaux commentaires !", class: "thread-new-comments"
          = comment.nb_answers
        %td.date= answer ? answer.created_at.to_fs(:posted) : " "
