%h2
  Vos derniers commentaires
- if @comments.empty?
  %p
    Vous n'avez posté aucun commentaire
- else
  %table#my-comments
    %tr
      %th Fil initiateur
      %th Sujet du commentaire
      %th Note
      %th Nombre de réponses
      %th Dernière réponse
    - @comments.each do |comment|
      - answer = comment.last_answer
      %tr
        %td #{comment.node.content_type} : #{link_to_content comment.node.content}
        %td= link_to comment.title, [comment.node, comment]
        %td= comment.score
        %td= comment.nb_answers
        %td= answer && answer.created_at.to_s(:long)
