%h2
  Vos derniers messages dans les forums
- if @posts.empty?
  %p
    Vous n’avez posté aucun message dans les forums
- else
  %table#my_posts
    %tr
      %th Forum
      %th Sujet
      %th Note
      %th Nombre de commentaires
      %th Date du message
    - @posts.each do |node|
      - post = node.content
      %tr
        %td= post.forum.title
        %td= link_to post.title, [post.forum, post]
        %td.number= node.score
        %td.number= node.comments.count
        %td.date= post.created_at.to_fs :posted
