%h2
  Vos derniers messages dans les forums
- if @posts.empty?
  %p
    Vous n’avez posté aucun message dans les forums
- else
  %table#my_posts
    %tr
      %th Forum
      %th Sujet
      %th Date
      %th Note
      %th <abbr title="Nombre de réponses">Rép.</abbr>
      %th Dernière réponse
    - @posts.each do |node|
      - post = node.content
      - answer = node.last_answer
      %tr
        %td= post.forum.title
        %td= link_to post.title, [post.forum, post]
        %td.date= post.created_at.to_s(:posted)
        %td.number= node.score
        %td.number
          - if answer && !answer.read_by?(current_account)
            = image_tag "/images/icones/comment.png", alt: "Nouveaux commentaires !", class: "thread-new-comments"
          = node.comments.count
        %td.date= answer ? answer.created_at.to_s(:posted) : " "
