%main#contents(role="main")
  .notice
    La page de wiki <a href="/wiki/decouvrir-linuxfr">Découvrir LinuxFr.org</a> donne quelques astuces pour mieux utiliser le site.

  =h1 "Votre tableau de bord"

  = render 'drafts'
  = render 'candidates'
  = render 'nodes', contents: @nodes
  = render 'comments'
  = render 'trackers'
