<%= form_for((@account || Account.new), :url => session_path(:account)) do |f| %>
  <p><%= f.label :login, "Identifiant" %></p>
  <p><%= f.text_field :login, :required => "required" %></p>

  <p><%= f.label :password, "Mot de passe" %></p>
  <p><%= f.password_field :password, :required => "required" %></p>

  <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <p><%= f.submit "Se connecter" %></p>
<% end %>
