- suffix = cycle(1,2,3)
- form_tag session_path do
  %p
    = label_tag "login_#{suffix}", 'Identifiant'
    = text_field_tag :login, @login, :required => 'required', :id => "login_#{suffix}"
  %p
    = label_tag "password_#{suffix}", 'Mot de passe'
    = password_field_tag :password, nil, :required => 'required', :id => "password_#{suffix}"
  %p
    = label_tag "remember_#{suffix}", 'Se souvenir de moi'
    = check_box_tag :remember_me, '1', @remember_me, :id => "remember_#{suffix}"
  %p
    = submit_tag "Se logger"
