- content_for :column do
  = render 'box'

=h1 "Les messages du forum #{@forum.title}"
- feed "Flux Atom du forum #{@forum.title}", "/forums/#{@forum.to_param}.atom"
- new_content_link = link_to("Poster dans les forums", controller: 'posts', action: 'new', forum_id: @forum.id) if current_account
= paginated_contents @posts, new_content_link
