- content_for :column do
  #forum_box.box
    = render @forums

=h1 "Liste des messages dans le forum #{@forum.title}"
- feed "Flux Atom du forum #{@forum.title}", "/forums/#{@forum.to_param}.atom"
- new_content_link = link_to("Poster dans les forums", "/posts/nouveau") if current_user
= paginated_contents @posts, new_content_link
