<h2>Renvoyer les instructions de confirmation</h2>

<%= form_for @account, :url => confirmation_path(:account) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit "Envoyer" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
