%main#contents(role="main")
  %h2 Renvoyer les instructions de confirmation

  = form_for @account, :url => confirmation_path(:account) do |f|
    = messages_on_error @account
    %p
      = f.label :email, 'Adresse de courriel'
      = f.email_field :email
    %p
      = f.submit "Envoyer"

  = render :partial => "devise/shared/links"
