%h1 Autorisation requise

%p
  Autoriser l'application <strong>#{@pre_auth.client.name}</strong> à utiliser votre compte ?

- if @pre_auth.scopes.any?
  #oauth-permissions
    %p Cette application pourra faire les actions suivantes :
    %ul
      - @pre_auth.scopes.each do |scope|
        %li= t scope, scope: [:doorkeeper, :scopes]

.actions
  = form_tag oauth_authorization_path, method: :post do
    = hidden_field_tag :client_id, @pre_auth.client.uid
    = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
    = hidden_field_tag :state, @pre_auth.state
    = hidden_field_tag :response_type, @pre_auth.response_type
    = hidden_field_tag :scope, @pre_auth.scope
    = submit_tag "Autoriser", class: "authorize_app"
  = form_tag oauth_authorization_path, method: :delete do
    = hidden_field_tag :client_id, @pre_auth.client.uid
    = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
    = hidden_field_tag :state, @pre_auth.state
    = hidden_field_tag :response_type, @pre_auth.response_type
    = hidden_field_tag :scope, @pre_auth.scope
    = submit_tag "Refuser", class: "deny_app"
