%h2 Changer d’avatar
= form_for @account, url: registration_path(:account), method: :put do |f|
  = messages_on_error @account
  = f.fields_for :user do |u|
    %figure.image
      = avatar_img(@account.user)
    %p
      = u.label :avatar, 'Avatar'
      = u.file_field :avatar, accept: "image/*"
    %p
      = u.label :custom_avatar_url, 'Je préfère que mon avatar soit téléchargé depuis cette adresse : '.html_safe
      = u.url_field :custom_avatar_url, value: ""
  %p
    %label.factice Confirmez‑vous ces modifications ?
    = f.submit "Enregistrer"
