%main#contents(role="main")
  =h1 "Paramétrer son compte"
  %p
    Ce formulaire permet de changer les paramètres de votre compte. Le nom du compte ne peut pas être modifié.

  = render 'form'
  = render 'avatar'
  = render 'preferences'
  = render 'applications'
  = render 'close'
