#contents
  %h2 Modifier son compte utilisateur

  = form_for @account, :url => registration_path(:account), :html => { :method => :put } do |f|
    = messages_on_error @account
    %p
      = f.label :email, 'Adresse de courriel'
      = f.email_field :email
    %p
      = f.label :current_password, 'Mot de passe actuel'
      %i (votre mot de passe actuel est nécessaire pour valider ce changement)
      = f.password_field :current_password
    %p
      = f.label :password, 'Nouveau mot de passe'
      %i (laissez ce champ vide si vous ne souhaitez pas changer de mot de passe)
      = f.password_field :password
    %p
      = f.label :password_confirmation, 'Confirmation du mot de passe'
      = f.password_field :password_confirmation
    %p
      = f.submit "Enregistrer"

  %h2 Fermer son compte
  %p
    Vous souhaitez fermer votre compte ?
    =button_to "Fermer mon compte", registration_path(:account), :confirm => "Êtes-vous sûr de vouloir fermer votre compte ?", :method => :delete

  = link_to "Retour", :back
