<h2>Modifier son compte utilisateur</h2>

<%= form_for @account, :url => registration_path(:account), :html => { :method => :put } do |f| %>
  <%= messages_on_error @account %>

  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>

  <p><%= f.label :current_password %> <i>(votre mot de passe actuel est nécessaire pour valider ce changement)</i></p>
  <p><%= f.password_field :current_password %></p>

  <p><%= f.label :password %> <i>(laissez ce champ vide si vous ne souhaitez pas changer de mot de passe)</i></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Fermer son compte</h3>

<p>Vous souhaitez fermer votre compte ? <%= link_to "Fermer mon compte", registration_path(:account), :confirm => "Êtes-vous sûr ?", :method => :delete %>.</p>

<%= link_to "Retour", :back %>
