#contents
  =h1 "Modifier son compte utilisateur"

  %p
    Ce formulaire permet de changer vos parametres utilisateurs. Votre login ne peut pas être modifié.

  = form_for @account, :url => registration_path(:account), :html => { :method => :put } do |f|
    = messages_on_error @account
    %p
      = f.label :email, 'Adresse de courriel'
      = f.email_field :email
    = f.fields_for :user do |u|
      %p
        = u.label :name, "Prénom et nom"
        = u.text_field :name, :maxlength => 32
      %p
        = u.label :homesite, 'Site web personnel'
        = u.url_field :homesite, :maxlength => 100
      %p
        = u.label :jabber_id, 'Jabber ID'
        %span.prefix xmpp://
        = u.text_field :jabber_id, :placeholder => "me@example.net", :maxlength => 32
    %p
      = f.label :password, 'Nouveau mot de passe'
      = f.password_field :password
      %span.help
        laissez ce champ vide si vous ne souhaitez pas changer de mot de passe
    %p
      = f.label :password_confirmation, 'Confirmation du mot de passe'
      = f.password_field :password_confirmation
    %p
      = f.label :current_password, 'Mot de passe actuel'
      = f.password_field :current_password
      %span.help
        votre mot de passe actuel est nécessaire pour valider ce changement
    %p
      %label.factice Sûr de vos modifications ?
      = f.submit "Enregistrer"

  %h2 Changer d'avatar
  = form_for @account, :url => registration_path(:account), :html => { :method => :put, :multipart => true } do |f|
    = messages_on_error @account
    = f.fields_for :user do |u|
      %figure.image
        = avatar_url(@account.user)
      %p
        = u.label :avatar, 'Avatar'
        = u.file_field :avatar, :accept => "image/*"
    %p
      %label.factice Sûr de vos modifications ?
      = f.submit "Enregistrer"

  %h2 Fermer son compte
  %p
    Vous souhaitez fermer votre compte ?
    =button_to "Fermer mon compte", registration_path(:account), :confirm => "Êtes-vous sûr de vouloir fermer votre compte ?", :method => :delete
