%main.devise.measure#contents(role="main")
  %a.devise.logo(href="/")
    %img{src: Logo.image, title: "LinuxFr.org"}
    %hr
  =h1 "S'inscrire"

  = form_with model: @account, as: :account, url: registration_path(:account), class: "devise" do |f|
    = messages_on_error @account
    = f.text_field :login, required: 'required', maxlength: 40, placeholder: "Identifiant"
    = f.email_field :email, required: "required", placeholder: "Mot de passe"
    = f.submit "S'inscrire"

  .notes
    %p
      Ce formulaire permet de créer un compte utilisateur.
      Il va vous permettre par exemple de poster des commentaires, il est le premier pas pour participer d'une manière ou d'une autre à LinuxFr.org.
      Vous recevrez un message pour confirmer la création de votre compte.
    %p
      Si le compte existe déjà, cela signifie que l'adresse électronique proposée est déjà dans notre base.
      Veuillez alors demander <a href="/compte/password/nouveau">un nouveau mot de passe</a>.
    %p
      %strong IMPORTANT&nbsp;:
      une seule création de compte par personne physique est autorisée.
      De plus, il est interdit d'utiliser une adresse de courriel temporaire, qui ne permet pas aux administrateurs de vous contacter en cas de problèmes avec votre compte.
      Les comptes, contenus et commentaires du site sont soumis à un ensemble de #{link_to "règles de modération", "/regles_de_moderation"}.
    %p
      Conformément à la loi informatique et liberté, vous pouvez modifier vos informations personnelles par le biais du formulaire web de gestion de vos paramètres utilisateurs.

  .devise.links
    = link_to "Se connecter", new_session_path(:account)
