<h2>S'inscrire</h2>

<%= form_for @account, :as =>:account, :url => registration_path(:account) do |f| %>
  <%= messages_on_error @account %>

  <p><%= f.label :login, "Identifiant" %></p>
  <p><%= f.text_field :login, :required => 'required' %></p>

  <p><%= f.label :email, "Adresse email" %></p>
  <p><%= f.email_field :email, :required => "required" %></p>

  <p><%= f.submit "S'inscrire" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
