=h1 "Les derniers comptes utilisateurs créés"

= form_tag admin_accounts_path, method: :get do
  %input(type="text" name="login" value="#{@login}" placeholder="Filtrer par login")
  %input(type="date" name="date" value="#{@date}" placeholder="Filtrer par date (YYYY-MM-DD)")
  %input(type="submit" value="Filtrer")

%table
  %tr
    %th Login
    %th Email
    %th Karma
    %th IP
    %th Status
    %th Date de création
    %th Actions
    %th Changer de rôle
  - @accounts.each do |account|
    %tr
      %td= link_to account.login, account.user
      %td= account.email
      %td= account.karma
      %td= account.current_sign_in_ip
      %td= account.inactive? ? "Inactif" : "Actif"
      %td= account.created_at.to_s(:posted)
      %td
        - if account.inactive? && account.user_id != 1
          = button_to "Activer",   [:admin, account], method: :put, class: "ok_button"
        - elsif !account.inactive?
          = button_to "Renvoi mot de passe", password_admin_account_path(account), class: "reset_password"
          = button_to "Suspendre", [:admin, account], method: :put, class: "delete_button"
      %td
        - if account.editor?
          = button_to "Retour simple visiteur", admin_account_editor_path(account.id), method: :delete
        - elsif account.moderator?
          = button_to "Retour simple visiteur", admin_account_moderator_path(account.id), method: :delete
        - elsif account.admin?
          = button_to "Retour simple visiteur", admin_account_admin_path(account.id), method: :delete
        - elsif !account.inactive?
          = button_to "→ modérateur", admin_account_moderator_path(account.id)
          = button_to "→ animateur", admin_account_editor_path(account.id)
          = button_to "→ admin", admin_account_admin_path(account.id)

= paginate @accounts
