=h1 "Les derniers comptes créés"

= form_tag admin_accounts_path, method: :get do
  %input(type="text" name="login" value="#{@login}" placeholder="Filtrer par pseudo")
  %input(type="date" name="date" value="#{@date}" placeholder="Filtrer par date (YYYY-MM-DD)")
  %input(type="text" name="ip" value="#{@ip}" placeholder="Filtrer par adresse IP")
  %input(type="text" name="email" value="#{@email}" placeholder="Filtrer par courriel")
  = check_box_tag 'inactive', 'inactive', @inactive=="inactive"
  %label(for="inactive") Inactifs
  %input(type="submit" value="Filtrer")

%table
  %tr
    %th Pseudo / Adresses
    %th Karma
    %th Adresse IP courante / précédente
    %th Commentaires / contenus / étiquettes
    %th Date de création
    %th Dernière visite
    %th Actions
    %th Changer de rôle
  - @accounts.each do |account|
    %tr
      %td
        = link_to account.login, account.user
        - if account.inactive?
          = image_tag "/images/icones/x_red.svg", alt: "Inactif", title: "Inactif", width: "15px"
        - else
          = image_tag "/images/icones/check.svg", alt: "Actif", title: "Actif", width: "16px"
        - if account.plonked?
          📢 #{ image_tag "/images/icones/denied.png", alt: "interdiction de tribune", title: "interdiction de tribune", width: "16px" }
        - if account.blocked?
          🖍️  #{ image_tag "/images/icones/denied.png", alt: "interdiction de commentaire", title: "interdiction de commentaire", width: "16px" }
        %br
        = account.email
        - if account.user.homesite.present?
          %br
          = account.user.homesite
        - if account.user.jabber_id.present?
          %br
          = account.user.jabber_id
        - if account.user.mastodon_url.present?
          %br
          = account.user.mastodon_url
      %td= account.karma
      %td
        - if account.current_sign_in_ip != account.last_sign_in_ip
          #{ account.current_sign_in_ip }&nbsp;/ #{ account.last_sign_in_ip }
        - else
          = account.current_sign_in_ip
      %td
        - if account.user.comments.count > 0
          = image_tag "/images/icones/comment.png", alt: "Commentaires", title: "Commentaires", width: "16px"
          #{ account.user.comments.published.count }
          #{ image_tag "/images/icones/check_alt.png", alt: "visibles", title: "visibles", width: "16px" }
          - if account.user.comments.count - account.user.comments.published.count > 0
            #{ (account.user.comments.count - account.user.comments.published.count) }
            #{ image_tag "/images/icones/denied.png", alt: "masqués", title: "masqués", width: "16px" }
          %br
        - if account.user.nodes.count > 0
          = image_tag "/images/icones/pen.png", alt: "Contenus", title: "Contenus", width: "16px"
          #{ account.user.nodes.visible.count }
          #{ image_tag "/images/icones/check_alt.png", alt: "visibles", title: "visibles", width: "16px" }
          - if account.user.nodes.count - account.user.nodes.visible.count > 0
            #{ (account.user.nodes.count - account.user.nodes.visible.count) }
            #{ image_tag "/images/icones/denied.png", alt: "masqués ou non modérés", title: "masqués ou non modérés", width: "16px" }
          %br
        - if account.user.tags.count > 0
          = image_tag "/images/icones/tag.png", alt: "Étiquettes", title: "Étiquettes", width: "16px"
          #{ account.user.tags.visible.count }
          #{ image_tag "/images/icones/check_alt.png", alt: "visibles", title: "visibles", width: "16px" }
          - if account.user.tags.count - account.user.tags.visible.count > 0
            #{ (account.user.tags.count - account.user.tags.visible.count) }
            #{ image_tag "/images/icones/denied.png", alt: "masqués", title: "masqués", width: "16px" }
          %br
      %td= account.created_at.to_fs(:posted)
      %td= account.display_last_seen_on
      %td
        - if account.inactive? && account.user_id != 1
          = button_to "Activer",   [:admin, account], method: :put, class: "ok_button"
        - elsif !account.inactive?
          = button_to "Réinit. mot de passe", password_admin_account_path(account), class: "reset_password"
          = button_to "Suspendre", [:admin, account], method: :put, class: "delete_button"
      %td
        - if account.editor?
          = button_to "Simple visiteur", admin_account_editor_path(account.id), method: :delete, class: "change_role"
        - if account.maintainer?
          = button_to "Simple visiteur", admin_account_maintainer_path(account.id), method: :delete, class: "change_role"
        - elsif account.moderator?
          = button_to "Simple visiteur", admin_account_moderator_path(account.id), method: :delete, class: "change_role"
        - elsif account.admin?
          = button_to "Simple visiteur", admin_account_admin_path(account.id), method: :delete, class: "change_role"
        - elsif !account.inactive?
          = button_to "Mainteneur", admin_account_maintainer_path(account.id), class: "change_role"
          = button_to "Modérateur", admin_account_moderator_path(account.id), class: "change_role"
          = button_to "Animateur", admin_account_editor_path(account.id), class: "change_role"
          = button_to "Admin", admin_account_admin_path(account.id), class: "change_role"

- filter_pagination_params ['login', 'date', 'ip', 'email', 'inactive', 'page']
= paginate @accounts
