=h1 "Les derniers comptes utilisateurs créés"

%table
  %tr
    %th Login
    %th Email
    %th Karma
    %th IP
    %th Status
    %th Date de création
    %th Actions
  - @accounts.each do |account|
    %tr
      %td= link_to account.login, account.user
      %td= account.email
      %td= account.karma
      %td= account.current_sign_in_ip
      %td= account.inactive? ? "Inactif" : "Actif"
      %td= account.created_at.to_s(:posted)
      %td
        = button_to("Activer",   [:admin, account], :method => :put) if account.inactive? && account.user_id != 1
        = button_to("Suspendre", [:admin, account], :method => :put) if !account.inactive?
