=h1 "Les derniers comptes utilisateurs créés"

= form_tag admin_accounts_path, method: :get do
  %input(type="text" name="login" value="#{@login}" placeholder="Filtrer par pseudo")
  %input(type="date" name="date" value="#{@date}" placeholder="Filtrer par date (YYYY-MM-DD)")
  %input(type="text" name="ip" value="#{@ip}" placeholder="Filtrer par adresse IP")
  %input(type="text" name="email" value="#{@email}" placeholder="Filtrer par courriel")
  = check_box_tag 'inactive', 'inactive', @inactive=="inactive"
  %label(for="inactive") Inactifs
  %input(type="submit" value="Filtrer")

%table
  %tr
    %th Pseudo / Courriel
    %th Karma
    %th Adresse IP courante / précédente
    %th Commentaires publics / tous
    %th Contenus publics / tous
    %th Date de création
    %th Actions
    %th Changer de rôle
  - @accounts.each do |account|
    %tr
      %td
        = link_to account.login, account.user
        - if account.inactive?
          = image_tag "/images/icones/x_red.svg", alt: "Inactif", title: "Inactif", width: "15px"
        - else
          = image_tag "/images/icones/check.svg", alt: "Actif", title: "Actif", width: "16px"
        %br
        = account.email
      %td= account.karma
      %td
        - if account.current_sign_in_ip != account.last_sign_in_ip
          #{ account.current_sign_in_ip }&nbsp;/ #{ account.last_sign_in_ip }
        - else
          = account.current_sign_in_ip
      %td
        #{ account.user.comments.published.count }&nbsp;/ #{ account.user.comments.count }
      %td
        #{ account.user.nodes.visible.count }&nbsp;/ #{ account.user.nodes.count }
      %td= account.created_at.to_s(:posted)
      %td
        - if account.inactive? && account.user_id != 1
          = button_to "Activer",   [:admin, account], method: :put, class: "ok_button"
        - elsif !account.inactive?
          = button_to "Renvoi de mot de passe", password_admin_account_path(account), class: "reset_password"
          = button_to "Suspendre", [:admin, account], method: :put, class: "delete_button"
      %td
        - if account.editor?
          = button_to "Retour simple visiteur", admin_account_editor_path(account.id), method: :delete
        - elsif account.moderator?
          = button_to "Retour simple visiteur", admin_account_moderator_path(account.id), method: :delete
        - elsif account.admin?
          = button_to "Retour simple visiteur", admin_account_admin_path(account.id), method: :delete
        - elsif !account.inactive?
          = button_to "→ modérateur", admin_account_moderator_path(account.id)
          = button_to "→ animateur", admin_account_editor_path(account.id)
          = button_to "→ admin", admin_account_admin_path(account.id)

= paginate @accounts
