%h2
  = link_to "[^]", "#comment-#{comment.parent_id}", :title => "Aller au commentaire parent", :class => "parent" unless comment.root?
  %a(href="#comment-#{comment.id}" class="anchor") #
  = ' '
  = link_to comment.title, "/nodes/#{comment.node_id}/comments/#{comment.id}", :class => "title"
%p.meta
  = posted_by(comment)
  Évalué à
  %span.score= comment.score
%figure.image= avatar_url(comment.user)
.content
  - if comment.deleted?
    %em Ce commentaire a été supprimé par l'équipe de modération.
  - else
    = comment.body
    - if comment.user.try(:signature).present?
      %p.signature
        = comment.user.try(:signature)
%footer.actions
  = link_to "Répondre", "/nodes/#{comment.node_id}/comments/#{comment.id}/answer#new_comment", :class => 'action'
  - if current_account && current_account.can_vote?(comment)
    %div.vote
      Ce commentaire est-il #{button_to "pertinent", "/nodes/#{comment.node_id}/comments/#{comment.id}/relevance/for", :remote => true, :disabled => comment.score >= 10}
      ou #{button_to "inutile", "/nodes/#{comment.node_id}/comments/#{comment.id}/relevance/against", :remote => true, :disabled => comment.score <= -10} ?
