%h3
  = link_to "[^]", "#comment-#{comment.parent_id}", :title => "Aller au commentaire parent" unless comment.root?
  = ' '
  = link_to "Commentaire : #{h comment.title}", [comment.node, comment]
%p
  = posted_by(comment)
  Évalué à
  %span.score= comment.score
.content
  = image_tag comment.user.avatar.url(:thumbnail), :class => 'avatar'
  - if comment.deleted?
    %em Ce commentaire a été supprimé par l'équipe de modération.
  - else
    = sanitize comment.body
%p
  = '[', link_to("Répondre", answer_comment_path(:node_id => comment.node_id, :parent_id => comment.id)), ']'
  - if comment.votable_by?(current_user)
    Ce commentaire est-il 
    - form_tag relevance_path(:action => 'for', :comment_id => comment.id) do
      = submit_tag "pertinent"
    ou
    - form_tag relevance_path(:action => 'against', :comment_id => comment.id) do
      = submit_tag "inutile"
    \?
