%h3
  = link_to "[^]", "#comment-#{comment.parent_id}", :title => "Aller au commentaire parent" unless comment.root?
  = ' '
  = link_to "Commentaire : #{comment.title}", [comment.node, comment]
%p.meta
  = posted_by(comment)
  Évalué à
  %span.score= comment.score
%figure.image
  = avatar_url(comment.user)
.content
  - if comment.deleted?
    %em Ce commentaire a été supprimé par l'équipe de modération.
  - else
    = sanitize comment.body
%footer.actions
  = link_to "Répondre", answer_node_comment_path(:node_id => comment.node_id, :parent_id => comment.id), :class => 'action'
  - if current_user && current_user.can_vote?(comment)
    %div.vote
      Ce commentaire est-il #{button_to "pertinent", node_comment_relevance_path(:action => 'for', :id => comment.id), :remote => true}
      ou #{button_to "inutile", node_comment_relevance_path(:action => 'against', :id => comment.id), :remote => true} ?
