= messages_on_error @comment

%p
  = form.label :title, "Sujet du commentaire"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true', :maxlength => 100
%p
  = form.label :wiki_body, "Commentaire complet"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
%p
  = form.submit "Prévisualiser", :id => "comment_preview"
  = form.submit "Poster le commentaire" if @preview_mode
