%ul
  %li.comment{:id => "comment-#{one_comment.id}"}
    %h4
      = link_to "Commentaire : #{one_comment.title}", [one_comment.node, one_comment]
    .content
      = one_comment.body
    %p
      = "Score : #{one_comment.score}"
    - if logged_in? && one_comment.votable_by?(current_user)
      - form_tag relevance_url(:action => 'for', :comment_id => one_comment.id) do
        = submit_tag "Pertinent"
      - form_tag relevance_url(:action => 'against', :comment_id => one_comment.id) do
        = submit_tag "Inutile"
    %p
      = link_to "Répondre", answer_comment_url(:parent_id => one_comment.id)
