%ul
  %li.comment{:id => "comment-#{one_comment.id}"}
    %h4
      = link_to "Commentaire : #{one_comment.title}", [one_comment.node, one_comment]
    .content
      = one_comment.body
    %p
      = link_to "Répondre", answer_comment_url(:parent_id => one_comment.id)
