- preview.wikify_body
%ul
  %li#comment_new.comment
    %h3
      = preview.title
    %p
      = posted_by(preview)
      Évalué à
      %span.score= preview.score
    %figure.image
      = avatar_url(current_user)
    .content
      = sanitize(preview.body)
    %footer
      &nbsp;
