%ul
  %li.comment{:id => "comment-new"}
    %h4
      = "Commentaire : #{h preview.title}"
    %p
      = posted_by(preview)
      == &Eacute;valué à #{preview.score}
    .content
      = sanitize preview.body
