%ul
  %li#comment_new.comment.score1
    %h2
      = link_to spellcheck(preview.title), "#", :class => "title"
    %p.meta
      = posted_by(preview)
      Évalué à
      %span.score= preview.score
    %figure.image
      = avatar_img(current_user)
    .content
      = spellcheck(preview.body)
      - if current_user.signature.present? && !current_account.try(:hide_signature?)
        %p.signature
          = current_user.signature
    %footer.actions
      &nbsp;

- if preview.parent.try(:user_id) == current_account.user_id
  = image_tag "/images/dessins/geekscottes_005.png", :alt => "Autosatisfaction récursive", :title => "Autosatisfaction récursive - © Johann 'nojhan' Dréo : 2005-03-25 - Licence CC By-Sa 2.5"
