%ul{:class => ("threads" unless preview.parent)}
  %li#comment_new.comment.score10
    %h2
      = link_to spellcheck(preview.title), "#", class: "title"
    %p.meta
      = posted_by(preview)
      Évalué à %span.score>= preview.bound_score
    %figure.image
      = avatar_img(current_user)
    .content
      = spellcheck(preview.body)
      - if current_user.signature.present? && !current_account.try(:hide_signature?)
        %p.signature
          = current_user.signature
    %footer.actions
      &nbsp;

- if preview.parent.try(:user_id) == current_account.user_id
  = image_tag "/images/dessins/geekscottes_005.png", alt: "Autosatisfaction récursive", title: "Autosatisfaction récursive — © Johann « nojhan » Dréo, 25 mars 2005 — Licence CC By‑SA 2.5"
- elsif preview.parent.try(:depth).to_i > 10
  = image_tag "/images/dessins/discussion.png", alt: "Discussion", title: "Discussion — © Boug metoogotmy.net : 2012 — Licence CC By‑SA 2.0 Fr"
