#contents
  =h1 "Écrire un commentaire"

  - if @comment.parent
    %p
      = link_to "Retourner au contenu associé", path_for_content(@comment.content)
    %ul.threads
      %li.comment{comment_attr(@comment.parent)}
        = render @comment.parent
  - else
    = render @comment.node.content

  = render "preview", :preview => @comment if @preview_mode

  = form_for [@node, @comment], :url => "/nodes/#{@node.id}/comments#comment_new" do |form|
    = form.hidden_field :parent_id
    = render form

  = render 'shared/wiki_help'
