=h1 @comment.title

%p
  = link_to "Retourner au contenu associé (#{translate_content_type @comment.content_type} : #{@comment.content.title})", path_for_content(@comment.content)

- if current_account
  - if current_account.can_update?(@comment)
    %p
      = link_to "Modifier ce commentaire", "/nodes/#{@comment.node_id}/comments/#{@comment.id}/modifier"
  - if current_account.can_destroy?(@comment)
    %p
      = button_to "Supprimer ce commentaire", [@comment.node, @comment], :method => :delete, :data => { :confirm => "Êtes-vous sûr de vouloir supprimer ce commentaire ?" }, :class => "delete_button"

%main#contents(role="main")
  %ul.threads
    %li.comment{comment_attr(@comment)}
      = render @comment
