=h1 "Autorisation OAuth"

%h2 Autoriser l'application OAuth #{@application.name} ?
%p
  %strong Important :
  si vous acceptez, l'application aura accès à votre login, votre adresse de couriel et la date de création du compte.

= form_tag "/auth/oauth/authorized" do
  = hidden_field_tag :client_id, @application.app_id
  = hidden_field_tag :redirect_uri, @redirect_uri
  %p
    = submit_tag "Refuser",  class: "refuse_oauth"
    = submit_tag "Accepter", class: "accept_oauth"
