=h1 "Bannière de la page d'accueil"

%p
  On affiche sur la page d'accueil une bannière choisie aléatoirement parmi les bannières suivantes :

- if @banners.empty?
  %p Pas de bannières
- else
  %table
    %tr
      %th Titre
      %th Bannière
      %th Active
      %th Actions
    - @banners.each do |banner|
      %tr
        %td
          = banner.title
        %td
          = banner.content
        %td
          = banner.active ? "Oui" : "Non"
        %td
          = link_to "Modifier", edit_admin_banner_path(banner)
          = button_to "Supprimer", [:admin, banner], :method => :delete, :data => { :confirm => "Supprimer la bannière ?" }, :class => "delete_button"

%p
  = link_to "Ajouter une bannière", new_admin_banner_path
