- if node.content.alternative_formats
  .formats
    = link_to "Markdown", "#{path_for_content node.content}.md", title: "Télécharger ce contenu au format Markdown", class: "action download"
    = link_to "EPUB", "#{path_for_content node.content}.epub", title: "Télécharger ce contenu au format EPUB", class: "action download"
- if current_account && current_account.can_vote?(node.content)
  .vote
    Ce contenu est‑il #{button_to "pertinent", "/nodes/#{node.id}/vote/for", remote: true, class: "relevant"}
    ou #{button_to "inutile", "/nodes/#{node.id}/vote/against", remote: :true, class: "useless"} ?
