%article{:class => css_class, :pubdate => pubdate_for(record)}
  %header
    %h2
      = title
    %p.meta
      = meta
      Tags :
    %ul.tag-cloud
      - record.node.popular_tags.each do |tag|
        %li= link_to tag.name, public_tag_path(:id => tag.name), :rel => 'tag'
  %figure.score
    = record.score
  - if image
    %figure.image
      = image
  .content
    = body
  %footer.actions
    = read_it(record)
    = actions
    = render('nodes/actions', :node => record.node) unless record.new_record?
