%article{:class => css_class}
  %header
    %h1= title
    .meta
      = meta
      - if record.node.cc_licensed?
        = link_to "Licence CC by-sa", 'http://creativecommons.org/licenses/by-sa/3.0/deed.fr', :rel => 'license'
      - unless (tags = record.node.popular_tags.all).empty?
        %div.tags
          Tags :
          %ul.tag_cloud
            = list_of tags do |tag|
              = link_to tag.name, "/tags/#{tag.name}/public", :rel => 'tag'
  .figures
    %figure.score(title="Note de ce contenu")= record.score
    %figure.datePourCss= date_pour_css(record)
    - if image
      %figure.image= image
  .content
    = body
  %footer.actions
    = read_it(record)
    = actions
    = render('nodes/actions', :node => record.node) unless record.new_record?
