%article{:class => css_class}
  %header
    %h1
      = title
    .meta
      = meta
      - if record.node.cc_licensed?
        = link_to "Licence CC by-sa", 'http://creativecommons.org/licenses/by-sa/3.0/deed.fr', :rel => 'license'
      - unless (tags = record.node.popular_tags.all).empty?
        Tags :
        %ul.tag_cloud
          = list_of tags do |tag|
            = link_to tag.name, { :controller => "tags", :action => "public", :id => tag.name }, :rel => 'tag'
  %figure.score
    = record.score
  - if image
    %figure.image
      = image
  .content
    = body
  %footer.actions
    = read_it(record)
    = actions
    = render('nodes/actions', :node => record.node) unless record.new_record?
