%article{:class => css_class, :itemscope => true, :itemtype => "http://schema.org/Article"}
  %header
    %h1(itemprop="name" class="entry-title")= title
    .meta
      = meta
      - if record.node.cc_licensed?
        = link_to "Licence CC by-sa", 'http://creativecommons.org/licenses/by-sa/3.0/deed.fr', :rel => 'license'
      - unless tags.empty? || hidden
        %div.tags
          Tags :
          %ul.tag_cloud(itemprop="keywords")
            = list_of tags do |tag|
              - if current_account
                - if tag.tagged_by_current
                  = button_to "Supprimer", node_tag_path(:node_id => record.node.id, :id => tag), :method => "delete", :remote => true, :class => "remove_tag"
                - else
                  = button_to "Ajouter", node_tag_path(:node_id => record.node.id, :id => tag), :method => "put", :remote => true, :class => "add_tag"
              = link_to tag.name, "/tags/#{tag.name}/public", :rel => 'tag'
  .figures
    %meta{:itemprop => "interactionCount", :content => "UserLikes:#{record.score}"}
    %figure.score(title="Note de ce contenu")= record.score
    %figure.datePourCss= date_pour_css(record)
    - if image && !hidden
      %figure.image(itemprop="image")= image
  - if hidden
    .content.hidden &nbsp;
  - else
    .content(itemprop="articleBody" class="entry-content")
      = body
  %footer.actions
    = read_it(record)
    = actions
    - unless hidden
      = render('nodes/actions', :node => record.node) unless record.new_record?
