%article{:class => css_class, :pubdate => pubdate_for(record)}
  %header
    %h1
      = title
    .meta
      = meta
      - if record.node.cc_licensed?
        = link_to "Licence CC by-sa", 'http://creativecommons.org/licenses/by-sa/3.0/deed.fr', :rel => 'license'
      Tags :
      %ul.tag-cloud
        - record.node.popular_tags.each do |tag|
          %li= link_to tag.name, public_tag_path(:id => tag.name), :rel => 'tag'
  %figure.score
    = record.score
  - if image
    %figure.image
      = image
  .content
    = body
  %footer.actions
    = read_it(record)
    = actions
    = render('nodes/actions', :node => record.node) unless record.new_record?
