.votes
  %p
    = "Score : #{node.score}"
  - if logged_in? && node.content.votable_by?(current_user)
    - form_tag vote_path(:action => 'for', :node_id => node.id) do
      = submit_tag "Pertinent"
    - form_tag vote_path(:action => 'against', :node_id => node.id) do
      = submit_tag "Inutile"

.tags
  %p
    = link_to "Tagger", node_new_tag_path(:node_id => node.id)
  %p
    Ce contenu est taggé avec :
    = node.tags.map(&:name).to_sentence

- feed "Flux Atom des commentaires #{node.content.title}", node_comments_url(:node_id => node.id, :format => :atom)
.comments
  %p
    = link_to "Envoyer un commentaire", new_node_comment_path(node)
  %p
    %b Note
    \: les commentaires appartiennent à ceux qui les ont postés. Nous n'en sommes pas responsables.
  - unless node.threads.empty?
    %ul.threads
      - node.threads.each do |thread|
        = render 'comments/thread', :object => thread
