#comments
  - feed_of_comments_url = "/nodes/#{node.id}/comments.atom"
  - feed "Flux Atom des commentaires sur « #{node.content.title} »", feed_of_comments_url
  - unless node.threads.empty?
    %ul.threads
      - node.threads.each do |thread|
        = render 'comments/thread', thread: thread
  - if !node.content.too_old_for_comments?
    %p#send-comment
      = link_to "Envoyer un commentaire", "/nodes/#{node.id}/comments/nouveau"
  %p#follow-feed
    - caption = "Suivre le flux des commentaires"
    = link_to "#{caption}", feed_of_comments_url, title: "#{caption}"
  %p
    %strong Note :
    les commentaires appartiennent à celles et ceux qui les ont postés. Nous n’en sommes pas responsables.
