- if @contents.any?
  %nav.toolbox
    %h2 Types de contenus
    %ul
    = list_of(@contents.facets['types']['terms']) do |facet|
      #{facet['term']} (#{facet['count']})

#contents
  =h1 "Recherche"
  - if @contents.empty?
    Pas de résultats.
  - else
    .results
      %h2 Résultats
      - @contents.each do |result|
        = render result.load
      = paginate @contents
