- if controller_name != 'sessions'
  = link_to "Se connecter", new_session_path(:account)
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "S’inscrire", new_registration_path(:account)
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to "Mot de passe oublié ?", new_password_path(:account)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Pas encore reçu les instructions de confirmation ?", new_confirmation_path(:account)
  %br/
- if devise_mapping.lockable? && controller_name != 'unlocks'
  = link_to "Pas encore reçu les instructions pour déverrouiller votre compte ?", new_unlock_path(:account)
  %br/
