= form.error_messages

%p
  = form.label :title, "Personne à interviewer"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'false'
%p
  = form.label :wiki_body, "Description détaillée"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
%p
  = form.submit "Prévisualiser"
  = form.submit "Soumettre" if @preview_mode

