=h1 "Les propositions d'entretien"
- feed "Flux Atom des entretiens"
- feed "Flux Atom des commentaires", comments_interviews_url(:format => :atom)

%p
  = link_to "Proposer un entretien", new_interview_path

%table#interview
  %tr
    %th N°
    %th Personne à interviewer
    %th Date de la proposition
    %th Affecté à
    %th Envoyé par
    %th Score
  - @interviews.each do |itw|
    %tr{:class => itw.state}
      %td= link_to itw.id, itw
      %td= link_to h(itw.title), itw
      %td= h itw.created_at
      %td= h itw.assigned_to
      %td= h itw.reported_by
      %td= h itw.score

