=h1 "Administration"
%ul
  %li Environnement&nbsp;: #{Rails.env}
  %li Rails root&nbsp;: #{Rails.root}
  %li Révision git&nbsp;: #{`git log -1 --pretty=format:"%h"`}
  %li PID&nbsp;: #{Process.pid}
  %li Connexion Redis&nbsp;: #{$redis.__id__} #{$redis.inspect}
  %li Connexion MySQL&nbsp;: #{ActiveRecord::Base.connection.__id__} #{ActiveRecord::Base.connection.inspect}
