=h1 "Administration"
%ul
  %li= link_to "Derniers comptes utilisateurs", admin_accounts_path
  %li= link_to "Réponses de refus (pour les dépêches)", admin_responses_path
  %li= link_to "Sections (pour les dépêches)", admin_sections_path
  %li= link_to "Forums", admin_forums_path
  %li= link_to "Catégories (pour le suivi)", admin_categories_path
  %li= link_to "Bannières", admin_banners_path
  %li= link_to "Logo", admin_logo_path
  %li= link_to "Feuilles de style", admin_stylesheet_path
  %li= link_to "Sites amis", admin_friend_sites_path
  %li= link_to "Pages statiques", admin_pages_path
  %li= link_to "Debug", "/admin/debug"
