<h2>Envoyer les instructions pour débloquer mon compte</h2>

<%= form_for @account, :url => unlock_path(:account) do |f| %>
  <%= messages_on_error @account %>

  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>

  <p><%= f.submit "Envoyer" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
