#redaction_box.box
  %h1
    = link_to "Rédaction", '/redaction'
  %p
    = link_to "Tribune de rédaction", '/redaction'
  %ul
    = list_of(News.draft.sorted) do |news|
      - if news.node.board_status(current_account) == :new_board
        = image_tag "/images/icones/chat.png", :alt => "Nouveaux !", :title => "Il y a de l'activité sur cette dépêche"
      = link_to news.title, [:redaction, news]
