%aside.more
  #top_redactors
    %h1 Rédacteurs les plus actifs
    %ol
      = list_of @stats.top_month do |stat|
        [#{stat['cnt']}] #{link_to stat['name'], "/users/#{stat['cached_slug']}"}
    %p
      = link_to "Autres statistiques sur la rédaction", "/statistiques/redaction"

  #redaction_board
    =h1 "Tribune des rédacteurs"
    = render 'boards/large', boards: @boards, box: false

#main_board
  .notice
    - case rand 5
    - when 0
      = link_to "Avez‑vous pensé à vous abonner à la liste de diffusion des rédacteurs ?", "/news/une-liste-de-diffusion-pour-les-redacteurs-de-linuxfr-org"
    - when 1
      = link_to "Avez‑vous lu la page d’aide à la rédaction ?", "/wiki/redaction"
    - when 2
      = link_to "Certains auteurs et certaines autrices sont récompensés par des livres. Pensez à vérifier votre adresse de courriel (c’est le seul moyen de vous contacter depuis le site)", "/compte/modifier"
    - when 3
      = link_to "Connaissez‑vous les règles de modération ?", "/regles_de_moderation"
    - else
      = link_to "Connaissez‑vous le moteur de recherche de photos sous licence Creative Commons ?", "https://ccsearch.creativecommons.org/?search=tux&licenses=ALL-%24&licenses=ALL-MOD&search_fields=title&search_fields=creator&search_fields=tags&per_page=20&work_types=photos&providers=500px&providers=flickr"

  %h2 #{pluralize @drafts.count + @inactive_drafts.count, "dépêche"} en cours de rédaction
  - feed "Flux atom des dépêches en cours de rédaction", "/redaction/news.atom"
  = button_to "Commencer une nouvelle dépêche", "/redaction/news", class: "create_news"
  - if @drafts.empty? and @inactive_drafts.empty?
    %p Aucune dépêche.
  - else
    - if @drafts.any?
      #news
        = render 'drafts', drafts: @drafts
    - if @inactive_drafts.any?
      %details
        %summary #{pluralize @inactive_drafts.count, "dépêche"} à adopter
        .notice
          %p
            Les dépêches suivantes n’ont plus d’activités depuis plus de 3 mois
            et peuvent être adoptées pour être finalisées et publiées par
            d’autres rédacteurs.
        %p
          Pour adopter une dépêche, vous pouvez demander dans la tribune de
          rédaction de devenir l’auteur de la dépêche. Ainsi, l’équipe de
          modération vous donnera le rôle d’auteur de la dépêche et vous
          pourrez terminer le processus de publication.
        #inactive_news
          = render 'drafts', drafts: @inactive_drafts

  %h2 #{pluralize @news.count, "dépêche"} en cours de modération
  - feed "Flux Atom des dépêches en cours de modération", "/redaction/news/moderation.atom"
  .notice
    L’accès à l’espace de modération est réservé aux modérateurs et aux administrateurs.
    Seuls les titres des dépêches en modération sont visibles des autres utilisateurs authentifiés.
  - if @news.empty?
    Aucune dépêche.
  - else
    #candidate_news
      - @news.each do |n|
        .news
          - if current_account && current_account.amr?
            %h3= link_to n.title, [:moderation, n]
          - else
            %h3= n.title
