#main_board
  .notice
    = link_to "Êtes-vous inscrit à la liste de diffusion des rédacteurs ?", "/news/une-liste-de-diffusion-pour-les-redacteurs-de-linuxfr-org"
  =h1 "Tribune rédacteurs"
  = render 'boards/boards', :boards => @boards

#news
  %h1 Dépêches en cours de rédaction
  = button_to "Commencer une nouvelle dépêche", "/redaction/news", :class => "create_news"
  (sous #{link_to "licence CC by-sa", "http://creativecommons.org/licenses/by-sa/3.0/deed.fr"})
  %p
    = link_to "Règles de modération", "/regles_de_moderation"

  - if @drafts.empty?
    %p Aucune dépêche.
  - else
    %p
      = link_to "Afficher toutes les dépêches", "/redaction/news"
    %ul
      = list_of @drafts do |n|
        = link_to n.title, [:redaction, n]

#candidate_news
  %h1 Dépêches en cours de modération
  - if @news.empty?
    Aucune dépêche.
  - else
    %ul
      = list_of @news do |n|
        = n.title
