= form_for @badge do |f|
  - if @badge.errors.any?
    #error_explanation
      %h2= "Erreur à l'inscription :"
      %ul
        - @badge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :company, 'Votre société'
    %br
    = f.text_field :company
    %p
      Merci de mettre votre société et non pas LinuxFr.
      Si l'information n'est pas correcte, veuillez mettre une entrée plausible.
  .field
    = f.label :title, 'Civilité'
    %br
    = f.radio_button :title, :monsieur
    = f.label :title_monsieur, 'Monsieur'
    %br
    = f.radio_button :title, :madame
    = f.label :title_madame, 'Madame'
  .field
    = f.label :first_name, 'Prénom'
    %br
    = f.text_field :first_name
  .field
    = f.label :last_name, 'Nom'
    %br
    = f.text_field :last_name
  .field
    = f.label :country, 'Pays'
    %br
    = f.text_field :country
  .field
    = f.label :email, 'Adresse de courriel'
    %br
    = f.text_field :email
  .actions
    = f.submit 'Enregistrer'
