%main#tags.statistics
  =h1 "Statistiques sur les applications (API OAuth2)"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %p= link_to("Retour à l'ensemble des statistiques", "/statistiques")

    %p
      Des #{link_to("API pour les développeurs", "/developpeur")} sont disponibles pour réaliser des applications/sites interagissant le site.

    %h2 Sommaire
    %ul
      %li=link_to("général","#general")
      %li=link_to("par an","#annee")
      %li=link_to("par mois","#mois")

    %h2#general Général
    %ul
      %li #{@stats.applications} applications créées par #{@stats.applications_distinct_owners} utilisateurs distincts
      %li #{@stats.access_tokens["total"]} tokens créés pour #{@stats.access_tokens_distinct_applications} applications distinctes, avec #{@stats.access_tokens["00"]} tokens actifs, #{@stats.access_tokens["10"]} expirés et #{@stats.access_tokens["11"]} revoqués
      %li #{@stats.access_grants["total"]} autorisations créées pour #{@stats.access_grants_distinct_applications} applications distinctes, avec #{@stats.access_grants["00"]} autorisations actives, #{@stats.access_grants["10"]} expirées et #{@stats.access_grants["11"]} revoquées

    - if @stats.access_tokens["total"] > 1
      %h2#annee Répartition annuelle des #{@stats.access_tokens["total"]} tokens
    - else
      %h2#annee Répartition annuelle

    %table
      - maxval = @stats.access_tokens_by_year.values.map(&:values).flatten.max
      %tr
        %th Année
        %th État
        %th Tokens
      - @stats.access_tokens_by_year.each do |year,token|
        - newyear = true
        - token.each do |inactive,cnt|
          %tr
            - if newyear
              %td.stat{'rowspan' => token.count}= year
              - newyear = false
            %td
              .stat.stats100px(class="content")=(inactive==1) ? "inactif":"actif"
            %td
              .stat(class="content" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt

    - if @stats.access_grants["total"] > 1
      %h2#annee Répartition annuelle des #{@stats.access_grants["total"]} autorisations
    - else
      %h2#annee Répartition annuelle

    %table
      - maxval = @stats.access_grants_by_year.values.map(&:values).flatten.max
      %tr
        %th Année
        %th État
        %th Autorisations
      - @stats.access_grants_by_year.each do |year,grant|
        - newyear = true
        - grant.each do |inactive,cnt|
          %tr
            - if newyear
              %td.stat{'rowspan' => grant.count}= year
              - newyear = false
            %td
              .stat.stats100px(class="content")=(inactive==1) ? "inactif":"actif"
            %td
              .stat(class="content" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt
