%main#contents.statistics(role="main")
  =h1 "Statistiques sur l’utilisateur Collectif"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %p= link_to("Retour à l’ensemble des statistiques", "/statistiques")

    %p L’utilisateur #{link_to("Collectif", "/users/collectif")} est un compte particulier auquel peuvent être attribués les contenus rédigés collaborativement.

    %h2 Sommaire
    %ul
      %li=link_to("contenus par type","#contenus_type")
      %li=link_to("contenus par an","#contenus_annee")
      %li=link_to("commentaires par type","#commentaires_type")
      %li=link_to("étiquettes par type","#tags_type")
      %li=link_to("étiquettes par an","#tags_annee")

    - if @stats.contents_per_type["Total"] > 1
      %h2#contenus_type Répartition par type des #{@stats.contents_per_type["Total"]} contenus attribués à Collectif
    - else
      %h2#contenus_type Répartition par type des contenus attribués à Collectif
    %ul
      %li #{pluralize @stats.contents_per_type["News"], "dépêche"}

    - if @stats.contents_per_type["Total"] > 1
      %h2#contenus_annee Répartition annuelle des #{@stats.contents_per_type["Total"]} contenus attribués à Collectif
    - else
      %h2#contenus_annee Répartition annuelle des contenus attribués à Collectif

    %table
      - maxval = @stats.contents_per_year.values.map(&:values).flatten.max
      %tr
        %th Année
        %th Type
        %th Contenus publiés
      - @stats.contents_per_year.each do |year,content|
        - newyear = true
        - content.each do |type,cnt|
          %tr
            - if newyear
              %td{'class' => 'stat','rowspan' => content.count}= year
              - newyear = false
            %td
              .stat.stats100px(class="content#{type.downcase()}") #{translate_content_type(type)}
            %td
              .stat(class="content#{type.downcase()}" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt
