%main#contents.statistics(role="main")
  =h1 "Statistiques sur les contenus"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %ul
      %li=link_to("par type","#type")
      %li=link_to("par an","#annee")
      %li=link_to("par mois","#mois")
      %li=link_to("par jour de la semaine","#jour")
      %li=link_to("par taille","#taille")
      %li=link_to("par licence","#licence")

    - if @stats.contents["Total"] > 1
      %h2#type Répartition par type des #{@stats.contents["Total"]} contenus
    - else
      %h2#type Répartition par type
    %ul
      %li #{pluralize @stats.contents["Diary"], "journal", "journaux"}
      %li #{pluralize @stats.contents["Post"], "entrée"} de forums
      %li
        #{pluralize @stats.contents["News"], "dépêche"} dont #{@stats.news["draft"]} en rédaction, #{@stats.news["candidate"]} en modération, #{pluralize @stats.news["published"], "publiée"}, #{pluralize @stats.news["refused"], "refusée"}.
        - if @stats.contents["News"].to_i > 0
          = "Publication sous #{pluralize @stats.nb_news_authors, "nom"} par #{pluralize @stats.nb_news_accounts, "utilisateur"}."
      %li #{pluralize @stats.contents["Tracker"], "entrée"} dans le système de suivi
      %li #{pluralize @stats.contents["Poll"], "sondage"}
      %li #{pluralize @stats.contents["WikiPage"], "page"} de wiki

    - if @stats.contents["Total"] > 1
      %h2#annee Répartition annuelle des #{@stats.contents["Total"]} contenus
    - else
      %h2#annee Répartition annuelle

    %table
      - maxval = @stats.contents_by_year.values.map(&:values).flatten.max
      %tr
        %th Année
        %th Type
        %th Contenus publiés
      - @stats.contents_by_year.each do |year,content|
        - newyear = true
        - content.each do |type,cnt|
          %tr
            - if newyear
              %td{'class' => 'stat','rowspan' => content.size()}= year
              - newyear = false
            %td
              .stat(class="content#{type.downcase()}" style="width: 100px;") #{translate_content_type(type)}
            %td
              .stat(class="content#{type.downcase()}" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt

    - if @stats.contents["Total"] > 1
      %h2#mois Répartition mensuelle des #{@stats.contents["Total"]} contenus publiés
    - else
      %h2#mois Répartition mensuelle

    %table
      - maxval = @stats.contents_by_month.values.map(&:values).flatten.max
      %tr
        %th Mois
        %th Contenus publiés
      - @stats.contents_by_month.each do |month,content|
        - newyear = true
        - content.each do |type,cnt|
          %tr
            -if newyear
              %td{'class'=>'stat','rowspan'=>content.size()}= month.sub(/(\d{4})(\d{2})/, '\2 \1')
              - newyear = false
            %td
              .stat(class="content#{type.downcase()}" style="width: 100px;") #{translate_content_type(type)}
            %td
              .stat(class="content#{type.downcase}" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt

    %h2#jour Répartition des contenus par jour de la semaine
    - if @stats.contents["Total"] > 1
      - maxval = @stats.contents_by_day.map {|a| a["cnt"] }.max
      %table
        %tr
          %th Jour
          %th Nombre de contenus publiés
        - @stats.contents_by_day.each do |day|
          %tr
            %td= day_name day["day"]
            %td
              .stat.misc(style="width: #{(width_stats * day["cnt"] / maxval).to_i}px;")= day["cnt"]
    - else
      Aucun contenu

    %h2#taille Évolution de la taille moyenne des dépêches publiées
    - if @stats.news["published"] > 0
      - maxval = @stats.news_size.map {|a| a["cnt"] }.max
      %table
      %table
        %tr
          %th Années
          %th Taille moyenne des dépêches (en octets, mise en forme comprise)
        - @stats.news_size.each do |entry|
          %tr
            %td= entry["year"]
            %td
              .stat.misc(style="width: #{(width_stats * entry["cnt"] / maxval).to_i}px;")= entry["cnt"]
    - else
      Aucune dépêche publiée

    %h2#licence Évolution du pourcentage de contenus sous licence CC By-Sa
    - if @stats.contents_by_license.size() > 0
      %table
        %th Année
        %th Type
        %th Pourcentage de dépêches et journaux sous licence Creative Commons By-Sa
        - @stats.contents_by_license.each do |year,content|
          - newyear = true
          - content.each do |type,cnt|
            %tr
              - if newyear
                %td{'class'=>'stat','rowspan'=>content.size()}= year
                - newyear = false
              %td
                .stat(class="content#{type.downcase()}" style="width: 100px;") #{translate_content_type(type)}
              %td
                .stat(class="content#{type.downcase()}" style="width: #{(width_stats * cnt / 100).to_i}px;")= cnt

    -# TODO REDIS %p Nombre de clics moyen par lien sur les dépêches acceptées
    -# Année	Nombre de clics moyen	Total
    -# 2000	857 857

    -# TODO REDIS %h2 Notes sur les contenus
