#contents.statistics
  =h1 "Statistiques sur la modération"
  - width_factor = 0.1

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}
    %p
      Voir aussi #{link_to "les règles de modération", "/regles_de_moderation"}

    %h2 Critères de modération d'une dépêche
    %ul
      %li +1 par avis positif et -1 par avis négatif
      %li Seuil d'acceptation = #{News.accept_threshold}
      %li Seuil de refus = #{News.refuse_threshold}

    %h2 Jour de modération
    %table
      %tr
        %th Jour
        %th Nombre de dépêches modérées
      - @stats.by_day.each do |day|
        %tr
          %td
            = I18n.translate(:'date.day_names')[day["day"].to_i]
          %td
            %meter.misc(style="width: #{(width_factor * day["cnt"]).to_i}px;")= day["cnt"]

    %h2 Temps de modération
    %p
      Temps moyen passé entre la création d'une dépêche (temps d'édition compris) et sa modération finale&nbsp;:
    %ul
    - @stats.average_time.each do |avg|
      %li
        #{avg["year"]}&nbsp;: #{(avg["duration"]/(avg["cnt"]*3600)).to_i} heures (entre #{(avg["min"]/60).to_i}min et #{(avg["max"]/3600).to_i}h)

    -# TODO Temps médian... un peu pénible à calculer...

    %h2 Équipe de modération
    %h3 Sur les 31 derniers jours

    %h4 Modérateurs actuels
    %ol
      = list_of(@stats.top_am_last_month) do |user|
        = link_to user["login"], "/users/#{user["login"]}"
        = " : #{pluralize user["cnt"], "modération"} et "
        = pluralize @stats.nb_votes_last_month(user["login"]), "vote"

    %h4 Relecteurs actuels
    %ol
      = list_of(Account.reviewer) do |user|
        = link_to user["login"], "/users/#{user["login"]}"
        = " : "
        = pluralize @stats.nb_votes_last_month(user["login"]), "vote"

    %h3 Depuis Epoch ou le début des données

    %h4 Modérateurs actuels
    %ol
      = list_of(@stats.top_am) do |user|
        = link_to user["login"], "/users/#{user["login"]}"
        = " : #{pluralize user["cnt"], "modération"} et "
        = pluralize @stats.nb_votes(user["login"]), "vote"

    %h4 Relecteurs actuels
    %ol
      = list_of(Account.reviewer) do |user|
        = link_to user["login"], "/users/#{user["login"]}"
        = " : "
        = pluralize @stats.nb_votes(user["login"]), "vote"

    %h4 Membre passé ou présent de l'équipe de modération
    %ol
      = list_of(@stats.top_amr) do |user|
        = link_to user["login"], "/users/#{user["login"]}"
        = " : #{pluralize user["cnt"], "modération"} et "
        = pluralize @stats.nb_votes(user["login"]), "vote"
