= javascript_include_tag "sorttable"

%main#contents.statistics(role="main")
  =h1 "Statistiques sur la modération"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}
    %p
      Voir aussi #{link_to "les règles de modération", "/regles_de_moderation"}

    %h2 Critères de modération d'une dépêche
    %ul
      %li +1 par avis positif et -1 par avis négatif
      %li Seuil d'acceptation = #{News.accept_threshold}
      %li Seuil de refus = #{News.refuse_threshold}

    - if @stats.by_day.size() > 0
      - maxval = @stats.by_day.map {|a| a["cnt"] }.max
      %h2 Jour de modération
      %table
        %tr
          %th Jour
          %th Nombre de dépêches modérées
        - @stats.by_day.each do |day|
          %tr
            %td= day_name day["day"]
            %td
              .stat.misc(style="width: #{(width_stats * day["cnt"] / maxval).to_i}px;")= day["cnt"]

      %h2 Temps d'édition et de modération
      %p
        Temps passé entre la création d'une dépêche (temps d'édition compris) et sa modération finale&nbsp;:
      %table{'class'=>'sortable'}
        %tr
          %th Année
          %th Médiane (h)
          %th 95e percentile (h)
          %th Moyenne (h)
          %th Écart-type (h)
          %th Minimum (min)
          %th Maximum (h)
        - @stats.average_time.each do |avg|
          - if avg["cnt"] > 0
            %tr
              %td{'class'=>'stat'}= avg["year"]
              %td{'class'=>'stat'}= (@stats.median_time(avg["year"],avg["cnt"],0.50)/3600)
              %td{'class'=>'stat'}= (@stats.median_time(avg["year"],avg["cnt"],0.95)/3600)
              %td{'class'=>'stat'}= (avg["duration"]/(avg["cnt"]*3600)).to_i
              %td{'class'=>'stat'}= (avg["std"]/3600).to_i
              %td{'class'=>'stat'}= (avg["min"]/60).to_i
              %td{'class'=>'stat'}= (avg["max"]/3600).to_i
          - else
            aucune information disponible

    %h2 Équipe de modération
    %ul
      %li= link_to("Sur les derniers jours", "#moderation")
      %li= link_to("Depuis Epoch ou le début des données", "#moderationEpoch")

    %p Sur l'année, en #{pluralize Date.today.yday, "jour"} :
    %ul
      %li
        - extra = @stats.news_by_day * 365 / Date.today.yday()
        = "#{pluralize @stats.news_by_day, "dépêche publiée", "dépêches publiées"} (extrapolation annuelle de #{extra} pour un objectif de #{@goals.news_by_year} "
        - if (extra >= @goals.news_by_year)
          = image_tag "/images/icones/check.png", :alt => "Objectif atteint", :title => "Objectif atteint"
        - else
          = image_tag "/images/icones/x_alt.png", :alt => "Objectif à atteindre", :title => "Objectif à atteindre"
        \)
      %li
        - extra2 = @stats.amr_news_by_day * 365 / Date.today.yday()
        = "#{pluralize @stats.amr_news_by_day, "dépêche publiée écrite", "dépêches publiées écrites"} par l'équipe du site (extrapolation annuelle de #{extra2} pour un objectif de #{@goals.amr_news_by_year} "
        - if (extra2 >= @goals.amr_news_by_year)
          = image_tag "/images/icones/check.png", :alt => "Objectif atteint", :title => "Objectif atteint"
        - else
          = image_tag "/images/icones/x_alt.png", :alt => "Objectif à atteindre", :title => "Objectif à atteindre"
        \)

    %h3#moderation Sur les derniers jours

    %p Il y a eu #{pluralize @stats.moderated_news(7), "dépêche modérée", "dépêches modérées"} (acceptation ou rejet) sur les 7 derniers jours, et #{pluralize @stats.moderated_news(31), "dépêche modérée", "dépêches modérées"} sur les 31 derniers jours.

    - if Account.amr.size > 0
      %h4 Équipe de modération actuelle (#{Account.amr.size})
      %table{'class'=>'sortable'}
        %tr
          %th
          %th Modérations (7j)
          %th Modérations (31j)
          %th Éditions (7j)
          %th Éditions (31j)
          %th Votes (31j)
          %th Dernière dépêche
          %th Auteur de dépêches
        - Account.amr.each do |user|
          %tr
            %td{'class'=>'stat'}= link_to user["login"], "/users/#{user["login"]}"
            %td{'class'=>'stat'}= @stats.nb_moderations_x_days(user["user_id"],7)
            %td{'class'=>'stat'}= @stats.nb_moderations_x_days(user["user_id"],31)
            %td{'class'=>'stat'}= @stats.nb_editions_x_days(user["user_id"],7)
            %td{'class'=>'stat'}= @stats.nb_editions_x_days(user["user_id"],31)
            %td{'class'=>'stat'}= @stats.nb_votes_last_month(user["login"])
            - @stats.last_news_at(user["user_id"]).each do |last|
              %td{'class'=>'stat'}= last["last"]
            - @stats.news_by_week(user["user_id"]).each do |news|
              %td{'class'=>'stat'}
                = "#{news["cnt"]} en #{pluralize news["weeks"], "semaine"}"
                - if news["cnt"] >= news["weeks"] * @goals.each_amr_news_by_week
                  = image_tag "/images/icones/check.png", :alt => "Objectif atteint", :title => "Objectif atteint"
                - else
                  = image_tag "/images/icones/x_alt.png", :alt => "Objectif à atteindre", :title => "Objectif à atteindre"

    - else
      %h4 Pas d'équipe de modération actuellement

    %h3#moderationEpoch Depuis Epoch ou le début des données

    - if @stats.top_amr.size > 0
      %h4 Membre passé ou présent de l'équipe de modération (#{@stats.top_amr.size})
      %table{'class'=>'sortable'}
        %tr
          %th
          %th Modérations
          %th Votes
        - @stats.top_amr.each do |user|
          %tr
            %td{'class'=>'stat'}= link_to user["login"], "/users/#{user["login"]}"
            %td{'class'=>'stat'}= user["cnt"].to_i
            %td{'class'=>'stat'}= @stats.nb_votes(user["login"])
    - else
      %h4 Pas encore d'équipe de modération
