%main#tags.statistics
  =h1 "Statistiques sur les étiquettes (tags)"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %p= link_to("Retour à l’ensemble des statistiques", "/statistiques")

    %h2 Sommaire
    %ul
      %li=link_to("général","#general")
      %li=link_to("par type","#type")
      %li=link_to("par an","#annee")
      %li=link_to("par mois","#mois")
      %li=link_to("par jour de la semaine","#jour")

    %h2#general Général

    %ul
      %li #{@stats.tags} étiquettes, dont #{@stats.public_tags} étiquettes publiques
      %li #{@stats.taggings["Total"]} étiquetages sur des contenus publiés
      %li étiquetage en moyenne #{@stats.avg_taggings_count(1)} fois pour les étiquettes publiques et #{@stats.avg_taggings_count(0)} fois pour les étiquettes privées
      %li le plus étiqueté l’a été #{@stats.max_taggings_count(1)} fois pour les étiquettes publiques et #{@stats.max_taggings_count(0)} fois pour les étiquettes privées

    - if @stats.taggings["Total"] > 1
      %h2#type Répartition par type des #{@stats.taggings["Total"]} étiquetages
    - else
      %h2#type Répartition par type
    %ul
      %li
        #{pluralize @stats.taggings["Diary"].to_i, "étiquette"} dans #{pluralize @contents.contents["Diary"], "journal", "journaux"}
        -if @contents.contents["Diary"].to_i > 0
          = "soit #{pluralize (@stats.taggings["Diary"].to_f/@contents.contents["Diary"]).round(2), "étiquette"} par journal publié"
      %li
        #{pluralize @stats.taggings["Post"].to_i, "étiquette"} dans #{pluralize @contents.contents["Post"], "entrée"} de forums
        -if @contents.contents["Post"].to_i > 0
          = "soit #{pluralize (@stats.taggings["Post"].to_f/@contents.contents["Post"]).round(2), "étiquette"} par entrée publiée"
      %li
        #{pluralize @stats.taggings["News"].to_i, "étiquette"} dans #{pluralize @contents.contents["News"], "dépêche"}
        -if @contents.contents["News"].to_i > 0
          = "soit #{pluralize (@stats.taggings["News"].to_f/@contents.contents["News"]).round(2), "étiquette"} par dépêche publiée"
      %li
        #{pluralize @stats.taggings["Tracker"].to_i, "étiquette"} dans #{pluralize @contents.contents["Tracker"], "entrée"} dans le système de suivi
        -if @contents.contents["Tracker"].to_i > 0
          = "soit #{pluralize (@stats.taggings["Tracker"].to_f/@contents.contents["Tracker"]).round(2), "étiquette"} par entrée publiée"
      %li
        #{pluralize @stats.taggings["Poll"].to_i, "étiquette"} dans #{pluralize @contents.contents["Poll"], "sondage"}
        -if @contents.contents["Poll"].to_i > 0
          = "soit #{pluralize (@stats.taggings["Poll"].to_f/@contents.contents["Poll"]).round(2), "étiquette"} par sondage publié"
      %li
        #{pluralize @stats.taggings["WikiPage"].to_i, "étiquette"} dans #{pluralize @contents.contents["WikiPage"], "page"} de wiki
        -if @contents.contents["WikiPage"].to_i > 0
          = "soit #{pluralize (@stats.taggings["WikiPage"].to_f/@contents.contents["WikiPage"]).round(2), "étiquette"} par page publiée"
      %li
        #{pluralize @stats.taggings["Bookmark"].to_i, "étiquette"} dans #{pluralize @contents.contents["Bookmark"], "lien"}
        -if @contents.contents["Bookmark"].to_i > 0
          = "soit #{pluralize (@stats.taggings["Bookmark"].to_f/@contents.contents["Bookmark"]).round(2), "étiquette"} par lien publié"

    - if @stats.taggings["Total"] > 1
      %h2#annee Répartition annuelle des #{@stats.taggings["Total"]} étiquetages
    - else
      %h2#annee Répartition annuelle

    %table
      - maxval = @stats.taggings_by_year.values.map(&:values).flatten.max
      %tr
        %th Année
        %th Type
        %th Nombre d’étiquetages
      - @stats.taggings_by_year.each do |year,tag|
        - newyear = true
        - tag.each do |type,cnt|
          %tr
            - if newyear
              %td.stat{'rowspan' => tag.count}= year
              - newyear = false
            %td
              .stat.stats100px(class="content#{type.downcase()}") #{translate_content_type(type)}
            %td
              .stat(class="content#{type.downcase()}" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt

    - if @stats.taggings["Total"] > 1
      %h2#mois Répartition mensuelle des #{@stats.taggings["Total"]} étiquetages
    - else
      %h2#mois Répartition mensuelle

    %table
      - maxval = @stats.taggings_by_month.values.map(&:values).flatten.max
      %tr
        %th Mois
        %th Type
        %th Nombre d’étiquetages
      - @stats.taggings_by_month.each do |month,tag|
        - newyear = true
        - tag.each do |type,cnt|
          %tr
            -if newyear
              %td.stat{'rowspan' => tag.count}= month.sub(/(\d{4})(\d{2})/, '\2 \1')
              - newyear = false
            %td
              .stat.stats100px(class="content#{type.downcase()}") #{translate_content_type(type)}
            %td
              .stat(class="content#{type.downcase}" style="width: #{(width_stats * cnt / maxval).to_i}px;")= cnt

    %h2#jour Répartition des étiquetages par jour de la semaine
    - if @stats.taggings["Total"] > 1
      - maxval = @stats.taggings_by_day.map {|a| a["cnt"] }.max
      %table
        %tr
          %th Jour
          %th Nombre d’étiquetages
        - @stats.taggings_by_day.each do |day|
          %tr
            %td.stat= day_name day["day"]
            %td
              .stat.misc(style="width: #{(width_stats * day["cnt"] / maxval).to_i}px;")= day["cnt"]
    - else
      Aucun étiquetage
