%main#contents.statistics(role="main")
  =h1 "Top ou flop du site"

  .body
    %section
      %h2 Nombre de dépêches publiées
      .top_or_flop
        %h3 Sur les 3 derniers mois
        %ol
          = list_of @stats.top_authors(News, 30, true) do |user, score|
            = link_to_user_with_score(user, score)
      .top_or_flop
        %h3 Depuis le début du site
        %ol
          = list_of @stats.top_authors(News, 30, false) do |user, score|
            = link_to_user_with_score(user, score)

    %section
      %h2 Nombre de journaux
      .top_or_flop
        %h3 Sur les 3 derniers mois
        %ol
          = list_of @stats.top_authors(Diary, 15, true) do |user, score|
            = link_to_user_with_score(user, score)
      .top_or_flop
        %h3 Depuis le début du site
        %ol
          = list_of @stats.top_authors(Diary, 15, false) do |user, score|
            = link_to_user_with_score(user, score)
