#contents
  =h1 "Statistiques sur le système de suivi"

  - colors = { "misc"=>"green", "opened"=>"red", "fixed"=> "green", "invalid"=>"olive", "monthnew"=>"red", "remaining"=>"darkred", "monthfixed"=>"green", "monthinvalid"=>"darkgreen" }

  .body
    %p= "Ces statistiques ne prennent en compte que le système de suivi, et pas les demandes envoyées par courriel, messagerie instantanée, lettres d'avocat, kernel panic et autres erreurs Nginx."

    %strong= "Statistiques mises à jour le #{h Time.now}"

    %p= "#{h @states["opened"]} entrées ouvertes, #{h @states["invalid"]} invalides et #{h @states["fixed"]} fermées (total #{h @states["total"]}) envoyées par #{h @distinct_users[0]["cnt"]} visiteurs (en groupant les anonymes), avec #{h @max_entries_by_user[0]["cnt"]} entrées pour le visiteur le plus actif."

    %p= "Le temps moyen de résolution est de #{h @avg_time[0]["avg"]} jours."

    - if (@median_time[0]!=nil)
      %p= "La moitié des entrées fermées ont été traitées en moins de #{h @median_time[0]["duration"]} jours."

    %p= "Fermeture des entrées du suivi par les admins"

    %ul
      - @good_workers.each do |worker|
        %ol
          %a(title="#{worker["name"]}" href="/users/#{worker["name"]}")#{worker["name"]}
          = ": #{worker["cnt"]}"

    %h2= "Entrées classées par année"

    %p= "État des entrées dans le système de suivi (classées par date d'ouverture)"

    %ul
      %li
        ouvertes
        %div(style="width:50px; background-color: #{colors["opened"]}") &nbsp;
      %li
        corrigées
        %div(style="width:50px; background-color: #{colors["fixed"]}") &nbsp;
      %li
        invalidées
        %div(style="width:50px; background-color: #{colors["invalid"]}") &nbsp;

    %table
      %tr
        %th Année
        %th Entrées
        %th Total
      - oldyear=''
      - @by_year.each do |year|
        %tr
          %td
            - if (oldyear != year["year"])
              = year["year"]
            - oldyear = year["year"]
          %td
            %div(style="width:#{40*year["cnt"]}px; background-color: #{colors[year["state"]]}; color: darkgray;")
              #{year["cnt"]}
          %td #{year["cnt"]}

    %h2= "Évolution du nombre d'entrées dans le système de suivi (dernière mise à jour)"

    %ul
      %li
        entrées ouvertes restantes
        %div(style="width:50px; background-color: #{colors["remaining"]}") &nbsp;
      %li
        nouvelles entrées du mois
        %div(style="width:50px; background-color: #{colors["monthnew"]}") &nbsp;
      %li
        entrées corrigées ce mois
        %div(style="width:50px; background-color: #{colors["monthfixed"]}") &nbsp;
      %li
        entrées invalidées ce mois
        %div(style="width:50px; background-color: #{colors["monthinvalid"]}") &nbsp;

    %table
      %tr
        %th Mois
        %th Entrées restantes/ouvertes
        %th Total ouvertes
        %th Entrées fermées/invalidées
      
      - oldmonth = ''
      - total = 0
      - @by_month.each do |month|
        - if (month[1]["opened"] == nil)
          - opened = 0
        - else
          - opened = month[1]["opened"]
        - if (month[1]["fixed"] == nil)
          - fixed = 0
        - else
          - fixed = month[1]["fixed"]
        - if (month[1]["invalid"] == nil)
          - invalid = 0
        - else
          - invalid = month[1]["invalid"]
        %tr
          %td
            - if (oldmonth != month[0])
              = month[0]
            - oldmonth = month[0]
          %td
            %div(style="width:#{40*total}px; background-color: #{colors["remaining"]}; color: darkgray;")
              #{total}
            %div(style="width:#{40*opened}px; background-color: #{colors["monthnew"]}; color: darkgray;")
              #{opened}
          %td
            - total = total + opened - fixed - invalid
            #{total}
          %td
            %div(style="width:#{40*fixed}px; background-color: #{colors["monthfixed"]}; color: darkgray;")
              #{fixed}
            %div(style="width:#{40*invalid}px; background-color: #{colors["monthinvalid"]}; color: darkgray;")
              #{invalid}

    %h2= "État des entrées dans le système de suivi par catégorie"

    %table
      %tr
        %th Catégorie
        %th Entrées
        %th Total
      - @by_category.each do |category|
        %tr
          %td #{category["name"]}
          %td
            %div(style="width:#{40*category["cnt"]}px; background-color: #{colors["misc"]}; color: darkgray;")
              #{category["cnt"]}
          %td #{category["cnt"]}
