#contents.statistics
  =h1 "Statistiques sur les utilisateurs"
  - width_factor = 0.3

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %h2 Sommaire
    %ul
      %li= link_to("Général", "#stats_general")
      %li= link_to("Contenus", "#stats_contenus")
      %li= link_to("Informations personnelles", "#stats_infosperso")
      %li= link_to("Utilisation des fonctionnalités", "#stats_fonctionnalites")
      %li= link_to("Karma des utilisateurs", "#stats_karma")
      %li= link_to("Utilisateurs avec privilèges", "#stats_privileges")
      %li= link_to("Style (CSS)", "#stats_css")
      %li= link_to("Ancienneté des comptes", "#stats_anciennete")
      %li= link_to("Statut des comptes utilisateurs", "#stats_state")

  %h2#stats_general Général
  %ul
    %li
      #{@stats.nb_users} utilisateurs ayant ou ayant eu des comptes
    %li
      #{@stats.nb_accounts} comptes utilisateur
    %li
      #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois avec #{@stats.no_visit["avg"]} jours de moyenne sans visite et #{@stats.no_visit["stddev"]} jours d'écart-type
    %li
      #{@stats.nb_waiting_accounts} en attente
    %li
      #{@stats.nb_closed_accounts} fermés

  %h2#stats_contenus Contenus
  %p
    Sur #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois&nbsp;:
  %ul
    - content = { "Diary" => "de journaux", "News" => "de dépêches", "Poll" => "de sondages", "Post" => "d'entrées de forum", "Tracker" => "d'entrée dans le suivi", "WikiPage" => "de pages dans le wiki"}
    = list_of(@stats.nb_authors) do |authors|
      #{translate_content_type authors["content_type"]}&nbsp;: #{authors["cnt"]} auteur(s) #{content[authors["content_type"]]} (#{@stats.pctrecent(authors["cnt"])}%)

  %h2#stats_infosperso Informations personnelles
  %p
    Sur #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois&nbsp;:
  %ul
    %li
      #{@stats.filled("homesite")} ont indiqué un site personnel (#{@stats.pctrecent(@stats.filled("homesite"))}%).
    %li
      #{@stats.filled("jabber_id")} ont saisi un identifiant Jabber/XMPP (#{@stats.pctrecent(@stats.filled("jabber_id"))}%).
    %li
      #{@stats.filled("signature")} ont défini une signature (#{@stats.pctrecent(@stats.filled("signature"))}%).
    %li
      #{@stats.filled("avatar")} ont fourni un avatar (#{@stats.pctrecent(@stats.filled("avatar"))}%).

  %h2#stats_fonctionnalites Utilisation des fonctionnalités
  %p
    Sur #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois&nbsp;:
  %ul
    %li #{@stats.on_home "News"} ont demandé à voir les dépêches en page d'accueil (#{@stats.pctrecent(@stats.on_home "News")}%).
    %li #{@stats.on_home "Diary"} ont demandé à voir les journaux en page d'accueil (#{@stats.pctrecent(@stats.on_home "Diary")}%).
    %li #{@stats.on_home "Post"} ont demandé à voir les entrées de forum en page d'accueil (#{@stats.pctrecent(@stats.on_home "Post")}%).
    %li #{@stats.on_home "Poll"} ont demandé à voir les sondages en page d'accueil (#{@stats.pctrecent(@stats.on_home "Poll")}%).
    %li #{@stats.on_home "WikiPage"} ont demandé à voir les pages wiki en page d'accueil (#{@stats.pctrecent(@stats.on_home "WikiPage")}%).
    %li #{@stats.on_home "Tracker"} ont demandé à voir les entrées du suivi en page d'accueil (#{@stats.pctrecent(@stats.on_home "Tracker")}%).
    %li #{@stats.preferences :sort_by_date_on_home} ont demandé le tri chronologique des élements en page d'accueil (#{@stats.pctrecent(@stats.preferences :sort_by_date_on_home)}%).
    %li #{@stats.preferences :hide_signature} ont demandé à ne pas voir les signatures(#{@stats.pctrecent(@stats.preferences :hide_signature)}%).
    %li #{@stats.preferences :hide_avatar} ont demandé à ne pas voir les avatars (#{@stats.pctrecent(@stats.preferences :hide_avatar)}%).
  %p
    Ces fonctionnalités peuvent être modifiées sur #{ link_to("la page des préférences", "/compte/modifier") }.

  %h2#stats_karma Karma des utilisateurs
  %table
    %tr
      %th Karma
      %th Nombre d'utilisateurs
    - @stats.by_karma.each do |karma|
      %tr
        %td
          -if karma["sign"] == -1
            = "]#{-10 ** (karma["k"] + 1)},#{-10 ** (karma["k"])}]"
          -elsif karma["sign"] == 1
            = "[#{10 ** karma["k"]},#{10 ** (karma["k"]+1)}["
          -else
            0
        %td
          %meter.misc(style="width: #{(width_factor * karma["cnt"]).to_i}px;")= karma["cnt"]

  %h2#stats_privileges Utilisateurs avec privilèges
  %p
    = link_to("Voir l'équipe du site", "/team")

  %h2#stats_css Style (CSS)
  %p
    = link_to("Changer de style", "/stylesheet/modifier")
  %p Sur #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois&nbsp;:
  %table
    %tr
      %th Feuille de style
      %th Nombre d'utilisateurs
    - @stats.by_style.each do |style|
      %tr
        %td
          = (style["stylesheet"] || "Feuille de style par défaut").sub("/stylesheets/contrib/", "")
        %td
          %meter.misc(style="width: #{(width_factor * style["cnt"]).to_i}px;")= style["cnt"]

  %h2#stats_anciennete Ancienneté des comptes
  %p
    Sur #{@stats.nb_recently_used_accounts} comptes utilisateur valides et utilisés au cours des 3 derniers mois&nbsp;:
  %table
    %tr
      %th Année
      %th Nombre d'utilisateurs
    - @stats.by_year.each do |year|
      %tr
        %td
          = year["year"]
        %td
          %meter.misc(style="width: #{(width_factor * year["cnt"]).to_i}px;")= year["cnt"]

  %h2#stats_state Statut des comptes utilisateurs
  %p Statut des comptes utilisateurs par tranche de 2500
  %meter(class="accountrecent" style="width: 250px;") comptes récemment utilisés
  %meter(class="accountinactive" style="width: 250px;") comptes fermés
  %meter(class="accountrecentinactive" style="width: 250px;") comptes fermés récemment utilisés
  %meter(class="account" style="width: 250px;") autres comptes
  %table
    %tr
      %th Tranche
      %th Nombre de comptes
    - oldslot = ''
    - @stats.by_state.each do |slot|
      %tr
        %td
          = oldslot = slot["slot"] if slot["slot"] != oldslot
        %td
          - c = ""
          - c += "recent"   if slot["recent"] == 1
          - c += "inactive" if slot["inactive"] == 1
          %meter(class="account#{c}" style="width: #{(width_factor * slot["cnt"]).to_i}px;")= slot["cnt"]
