%main#contents.statistics(role="main")
  =h1 "Statistiques sur les utilisatrices et utilisateurs"
  - width_stats = 400

  .body
    %strong
      Statistiques mises à jour le #{l Time.now}

    %p= link_to("Retour à l’ensemble des statistiques", "/statistiques")

    %h2 Sommaire
    %ul
      %li= link_to("Général", "#stats_general")
      %li= link_to("Comptes avec privilèges", "#stats_privileges")
      %li= link_to("Contenus publiés", "#stats_contenus")
      %li= link_to("Contribution sur une dépêche", "#stats_news_versions")
      %li= link_to("Commentaires", "#stats_commentaires")
      %li= link_to("Étiquettes (tags)", "#stats_tags")
      %li= link_to("Informations personnelles", "#stats_infosperso")
      %li= link_to("Domaines des courriels", "#stats_courriel")
      %li= link_to("Domaines XMPP", "#stats_xmpp")
      %li= link_to("Domaines Mastodon", "#stats_mastodon")
      %li= link_to("Utilisation des fonctionnalités", "#stats_fonctionnalites")
      %li= link_to("Style (CSS)", "#stats_css")
      %li= link_to("Karma des utilisatrices et utilisateurs", "#stats_karma")
      %li= link_to("Ancienneté des comptes", "#stats_anciennete")
      %li= link_to("Statut des comptes", "#stats_state")

      %p= link_to("Retour à l’ensemble des statistiques", "/statistiques")

  %h2#stats_general Général
  %ul
    %li
      #{pluralize @stats.nb_users, "utilisatrice ou utilisateur", "utilisatrices et utilisateurs"} ayant ou ayant eu des comptes (et encore présents en base de données)
    %li
      #{pluralize @stats.nb_accounts, "compte"}
    %li
      #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois avec #{pluralize @stats.no_visit["avg"], "jour"} de moyenne sans visite et #{pluralize @stats.no_visit["stddev"], "jour"} d’écart‑type
    %li
      #{pluralize @stats.nb_waiting_accounts, "compte"} en attente
    %li
      #{pluralize @stats.nb_closed_accounts, "compte fermé", "comptes fermés"}

  %h2#stats_privileges Utilisatrices et utilisateurs avec privilèges
  %p
    = link_to("Voir l’équipe du site", "/equipe")

  %h2#stats_contenus Contenus publiés
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Type de contenu
      %th Depuis Epoch
      %th Actifs
      %th Depuis un an
      %th Actifs
      %th Depuis trois mois
      %th Actifs
    - @stats.nb_content_authors.each do |authors|
      - last3Months = @stats.nb_content_authors(90, authors["content_type"])[0]
      - lastYear = @stats.nb_content_authors(365, authors["content_type"])[0]
      %tr
        - contentclass = "content#{authors["content_type"].downcase()}"
        %td
          .stat.stats100px(class="#{contentclass}") #{translate_content_type(authors["content_type"])}
        %td
          .stat(class="#{contentclass}" style="width: #{width_stats * authors["cnt"] / maxval}px;")=authors["cnt"]
        %td
          #{@stats.pctrecent(authors["cnt"])}
        %td
          - if !lastYear.nil?
            .stat(class="#{contentclass}" style="width: #{width_stats * lastYear["cnt"] / maxval}px;")=lastYear["cnt"]
          - else
            &nbsp;
        %td
          - if !lastYear.nil?
            #{@stats.pctrecent(lastYear["cnt"])}
          - else
            &nbsp;
        %td
          - if !last3Months.nil?
            .stat(class="#{contentclass}" style="width: #{width_stats * last3Months["cnt"] / maxval}px;")=last3Months["cnt"]
          - else
            &nbsp;
        %td
          - if !last3Months.nil?
            #{@stats.pctrecent(last3Months["cnt"])}
          - else
            &nbsp;

  %h2#stats_news_versions Contribution sur une dépêche
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - last3Months = @stats.nb_news_versions_authors(90)[0]
    - lastYear = @stats.nb_news_versions_authors(365)[0]
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th &nbsp;
      %th Depuis Epoch
      %th Actifs
      %th Depuis un an
      %th Actifs
      %th Depuis trois mois
      %th Actifs
    - last3Months = @stats.nb_news_versions_authors(90)[0]
    - lastYear = @stats.nb_news_versions_authors(365)[0]
    - @stats.nb_news_versions_authors.each do |authors|
      %tr
        %td.stat Contributions
        %td
          .stat.misc(style="width: #{(width_stats * authors["cnt"] / maxval).to_i}px;")= authors["cnt"]
        %td
          #{@stats.pctrecent(authors["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * lastYear["cnt"] / maxval).to_i}px;")= lastYear["cnt"]
        %td
          #{@stats.pctrecent(lastYear["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * last3Months["cnt"] / maxval).to_i}px;")= last3Months["cnt"]
        %td
          #{@stats.pctrecent(last3Months["cnt"])}

  %h2#stats_commentaires Commentaires
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - last3Months = @stats.nb_comment_authors(90)[0]
    - lastYear = @stats.nb_comment_authors(365)[0]
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th &nbsp;
      %th Depuis Epoch
      %th Actifs
      %th Depuis un an
      %th Actifs
      %th Depuis trois mois
      %th Actifs
    - last3Months = @stats.nb_comment_authors(90)[0]
    - lastYear = @stats.nb_comment_authors(365)[0]
    - @stats.nb_comment_authors.each do |authors|
      %tr
        %td.stat Commentaires
        %td
          .stat.misc(style="width: #{(width_stats * authors["cnt"] / maxval).to_i}px;")= authors["cnt"]
        %td
          #{@stats.pctrecent(authors["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * lastYear["cnt"] / maxval).to_i}px;")= lastYear["cnt"]
        %td
          #{@stats.pctrecent(lastYear["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * last3Months["cnt"] / maxval).to_i}px;")= last3Months["cnt"]
        %td
          #{@stats.pctrecent(last3Months["cnt"])}

  %h2#stats_tags Étiquettes (tags)
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th &nbsp;
      %th Depuis Epoch
      %th Actifs
      %th Depuis un an
      %th Actifs
      %th Depuis trois mois
      %th Actifs
    - last3Months = @stats.nb_tag_authors(90)[0]
    - lastYear = @stats.nb_tag_authors(365)[0]
    - @stats.nb_tag_authors.each do |authors|
      %tr
        %td.stat Étiquettes (tags)
        %td
          .stat.misc(style="width: #{(width_stats * authors["cnt"] / maxval).to_i}px;")= authors["cnt"]
        %td
          #{@stats.pctrecent(authors["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * lastYear["cnt"] / maxval).to_i}px;")= lastYear["cnt"]
        %td
          #{@stats.pctrecent(lastYear["cnt"])}
        %td
          .stat.misc(style="width: #{(width_stats * last3Months["cnt"] / maxval).to_i}px;")= last3Months["cnt"]
        %td
          #{@stats.pctrecent(last3Months["cnt"])}

  %h2#stats_infosperso Informations personnelles
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Information
      %th Nombre de comptes
      %th Actifs
    %tr
      %td.stat Site web personnel
      %td
        .stat.misc(style="width: #{(width_stats * @stats.filled("homesite") / maxval).to_i}px;")= @stats.filled("homesite")
      %td #{@stats.pctrecent(@stats.filled("homesite"))}
    %tr
      %td.stat Adresse XMPP
      %td
        .stat.misc(style="width: #{(width_stats * @stats.filled("jabber_id") / maxval).to_i}px;")= @stats.filled("jabber_id")
      %td #{@stats.pctrecent(@stats.filled("jabber_id"))}
    %tr
      %td.stat Adresse Mastodon
      %td
        .stat.misc(style="width: #{(width_stats * @stats.filled("mastodon_url") / maxval).to_i}px;")= @stats.filled("mastodon_url")
      %td #{@stats.pctrecent(@stats.filled("mastodon_url"))}
    %tr
      %td.stat Signature
      %td
        .stat.misc(style="width: #{(width_stats * @stats.filled("signature") / maxval).to_i}px;")= @stats.filled("signature")
      %td #{@stats.pctrecent(@stats.filled("signature"))}
    %tr
      %td.stat Avatar
      %td
        .stat.misc(style="width: #{(width_stats * @stats.filled("avatar") / maxval).to_i}px;")= @stats.filled("avatar")
      %td #{@stats.pctrecent(@stats.filled("avatar"))}

  %h2#stats_courriel Domaines des courriels
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Domaines à plus de trois comptes
      %th Nombre de comptes
      %th Actifs
    - @stats.top_email_domains.each do |domain|
      %tr
        %td.stat
          = domain["domain"]
        %td
          .stat.misc(style="width: #{(width_stats * domain["cnt"] / maxval).to_i}px;")= domain["cnt"]
        %td
          #{@stats.pctrecent(domain["cnt"])}

  %h2#stats_xmpp Domaines XMPP
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Domaines à plus de trois comptes
      %th Nombre de comptes
      %th Actifs
    - @stats.top_xmpp_domains.each do |domain|
      %tr
        %td.stat
          = domain["domain"]
        %td
          .stat.misc(style="width: #{(width_stats * domain["cnt"] / maxval).to_i}px;")= domain["cnt"]
        %td
          #{@stats.pctrecent(domain["cnt"])}

  %h2#stats_mastodon Domaines Mastodon
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Domaines à plus de trois comptes
      %th Nombre de comptes
      %th Actifs
    - @stats.top_mastodon_domains.each do |domain|
      %tr
        %td.stat
          = domain["domain"]
        %td
          .stat.misc(style="width: #{(width_stats * domain["cnt"] / maxval).to_i}px;")= domain["cnt"]
        %td
          #{@stats.pctrecent(domain["cnt"])}

  %h2#stats_fonctionnalites Utilisation des fonctionnalités
  %p
    Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Fonctionnalité
      %th Nombre de comptes
      %th Actifs
    %tr
      %td.stat Dépêches en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("News") / maxval).to_i}px;")= @stats.on_home("News")
      %td #{@stats.pctrecent(@stats.on_home("News"))}
    %tr
      %td.stat Journaux en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("Diary") / maxval).to_i}px;")= @stats.on_home("Diary")
      %td #{@stats.pctrecent(@stats.on_home("Diary"))}
    %tr
      %td.stat Entrées de forum en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("Post") / maxval).to_i}px;")= @stats.on_home("Post")
      %td #{@stats.pctrecent(@stats.on_home("Post"))}
    %tr
      %td.stat Sondages en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("Poll") / maxval).to_i}px;")= @stats.on_home("Poll")
      %td #{@stats.pctrecent(@stats.on_home("Poll"))}
    %tr
      %td.stat Pages wiki en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("WikiPage") / maxval).to_i}px;")= @stats.on_home("WikiPage")
      %td #{@stats.pctrecent(@stats.on_home("WikiPage"))}
    %tr
      %td.stat Entrées de suivi en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("Tracker") / maxval).to_i}px;")= @stats.on_home("Tracker")
      %td #{@stats.pctrecent(@stats.on_home("Tracker"))}
    %tr
      %td.stat Liens en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.on_home("Bookmark") / maxval).to_i}px;")= @stats.on_home("Bookmark")
      %td #{@stats.pctrecent(@stats.on_home("Bookmark"))}
    %tr
      %td.stat Tri chronologique en page d’accueil
      %td
        .stat.misc(style="width: #{(width_stats * @stats.preferences(:sort_by_date_on_home) / maxval).to_i}px;")= @stats.preferences(:sort_by_date_on_home)
      %td #{@stats.pctrecent(@stats.preferences :sort_by_date_on_home)}
    %tr
      %td.stat Masquage des signatures
      %td
        .stat.misc(style="width: #{(width_stats * @stats.preferences(:hide_signature) / maxval).to_i}px;")= @stats.preferences(:hide_signature)
      %td #{@stats.pctrecent(@stats.preferences :hide_signature)}
    %tr
      %td.stat Masquage des avatars
      %td
        .stat.misc(style="width: #{(width_stats * @stats.preferences(:hide_avatar) / maxval).to_i}px;")= @stats.preferences(:hide_avatar)
      %td #{@stats.pctrecent(@stats.preferences :hide_avatar)}
    %tr
      %td.stat Affichage des contenus avec une note négative
      %td
        .stat.misc(style="width: #{(width_stats * @stats.preferences(:show_negative_nodes) / maxval).to_i}px;")= @stats.preferences(:show_negative_nodes)
      %td #{@stats.pctrecent(@stats.preferences :show_negative_nodes)}
    %tr
      %td.stat Affichage de la tribune dans une boîte latérale
      %td
        .stat.misc(style="width: #{(width_stats * @stats.preferences(:board_in_sidebar) / maxval).to_i}px;")= @stats.preferences(:board_in_sidebar)
      %td #{@stats.pctrecent(@stats.preferences :board_in_sidebar)}
  %p
    Ces fonctionnalités peuvent être modifiées sur la page des #{ link_to("préférences", "/compte/modifier") }.

  %h2#stats_css Style (CSS)
  %p
    = link_to("Changer de style", "/stylesheet/modifier")
  - if @stats.by_style.any?
    %p Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
    %table
      - maxval = @stats.nb_recently_seen_accounts
      %tr
        %th Feuille de style
        %th Nombre de comptes
        %th Actifs
      - @stats.by_style.each do |style|
        %tr
          %td.stat
            = (style["stylesheet"] || "Feuille de style par défaut").sub("/stylesheets/contrib/", "")
          %td
            .stat.misc(style="width: #{(width_stats * style["cnt"] / maxval).to_i}px;")= style["cnt"]
          %td #{@stats.pctrecent(style["cnt"])}
  - else
    Aucune feuille de style CSS autre que celle par défaut

  %h2#stats_karma Karma des utilisatrices et utilisateurs
  %p Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    %tr
      %th Karma
      %th Nombre de comptes
      %th Actifs
    - @stats.by_karma.each do |karma|
      %tr
        %td.stat
          -if karma["sign"] == -1
            = "]#{(-@stats.karma_base ** (karma["k"] + 1)).to_i},#{(-@stats.karma_base ** (karma["k"])).to_i}]"
          -elsif karma["sign"] == 1
            = "[#{(@stats.karma_base ** karma["k"]).to_i},#{(@stats.karma_base ** (karma["k"]+1)).to_i}["
          -else
            0
        %td
          .stat.misc(style="width: #{(width_stats * karma["cnt"] / maxval).to_i}px;")= karma["cnt"]
        %td #{@stats.pctrecent(karma["cnt"])}

  %h2#stats_anciennete Ancienneté des comptes
  %p Sur #{pluralize @stats.nb_recently_seen_accounts, "compte utilisé", "comptes utilisés"} sur le site au cours des trois derniers mois :
  %table
    - maxval = @stats.nb_recently_seen_accounts
    %tr
      %th Année
      %th Nombre de comptes
      %th Actifs
    - @stats.by_year.each do |year|
      %tr
        %td.stat
          = year["year"]
        %td
          .stat.misc(style="width: #{(width_stats * year["cnt"] / maxval).to_i}px;")= year["cnt"]
        %td #{@stats.pctrecent(year["cnt"])}

  %h2#stats_state Statut des comptes
  %p Statut des comptes par tranche de #{@stats.slot_size}
  - translate_account = {"accountrecent"=>"récemment utilisé", "accountinactive"=>"fermé", "accountrecentinactive"=>"fermé récemment utilisé", "account"=>"autre", "accountpurged"=>"purgé"}
  %table
    %tr
      %th Tranche
      %th Statut du compte
      %th Nombre de comptes
    - oldslot = ''
    - remaining = @stats.slot_size
    - slice_parity = "slice_even";
    - @stats.by_state.each do |slot|
      - if oldslot != '' and slot["slot"] != oldslot
        - c = "purged"
        - cnt = remaining
        - remaining = @stats.slot_size
        %tr{:class => slice_parity}
          %td.stat
          %td
            .stat.stats100px(class="account#{c}") #{translate_account.fetch("account#{c}")}
          %td
            .stat(class="account#{c}" style="width: #{(width_stats * cnt / @stats.slot_size).to_i}px;")= cnt
        - slice_parity = (slice_parity == "slice_odd" ? "slice_even" : "slice_odd")
 
      %tr{:class => slice_parity}
        %td.stat
          = oldslot = slot["slot"] if slot["slot"] != oldslot
        - c = ""
        - cnt = slot["cnt"]
        - remaining -= cnt
        - c += "recent"   if slot["recent"] == 1
        - c += "inactive" if slot["inactive"] == 1
        %td
          .stat.stats100px(class="account#{c}") #{translate_account.fetch("account#{c}")}
        %td
          .stat(class="account#{c}" style="width: #{(width_stats * cnt / @stats.slot_size).to_i}px;")= cnt
