- article_for diary do
  %header
    %h2
      = link_to "Journal : #{h diary.title}", [diary.owner, diary]
    %p
      = posted_by(diary)
  %aside
    = image_tag diary.owner.avatar.url(:thumbnail), :class => 'avatar'
  .content
    = sanitize diary.body
  %footer
    %p
      = read_it(diary)
