= messages_on_error @diary

%p
  = form.label :title, "Sujet du journal"
  = form.text_field :title, autocomplete: 'off', required: 'required', spellcheck: 'true', maxlength: 100
%p
  = form.label :wiki_body, "Journal complet"
  = form.text_area :wiki_body, required: 'required', spellcheck: 'true', class: 'markItUp'
- if form.object.new_record?
  %p
    = label_tag :tags
    = text_field_tag :tags, nil, class: 'autocomplete', 'data-url' => autocomplete_tags_path, value: params[:tags], size: 100
  %p
    = form.check_box :cc_licensed
    = form.label :cc_licensed, 'Je place ce document sous licence Creative Commons Attribution et Partage dans les mêmes conditions, version 4.0 (<a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">licence CC By‑SA 4.0</a>)'.html_safe
%p
  = form.submit "Prévisualiser", id: "diary_preview"
  = form.submit "Poster le journal", 'data-disable-with' => "Enregistrement en cours" if @preview_mode and @diary.valid?
