= form.error_messages

%p
  = form.label :title, "Sujet du journal"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :wiki_body, "Journal complet"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
%p
  = form.check_box :cc_licensed
  = form.label :cc_licensed, 'Je place ce document sous licence Creative Commons Paternité-Partage des Conditions Initiales à l\'Identique 3.0 (<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence CC by-sa</a>)'.html_safe!
%p
  = form.submit "Prévisualiser"
  = form.submit "Poster le journal" if @preview_mode
