- article_for preview do
  %h2
    = "Journal : #{h preview.title}"
  %p
    = image_tag current_user.avatar.url(:thumbnail), :class => 'avatar'
    = posted_by(preview)
  .content
    = sanitize preview.body
  %p
    = read_it(preview)
