= form_for [:redaction, @news] do |form|
  = form.label :section_id, "Section"
  = form.collection_select :section_id, Section.published, :id, :title
  = form.label :title, "Titre"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true', :maxlength => 100
  %button.cancel Annuler
  = form.submit "OK"
