= article_for news do |c|
  - c.title = "#{link_to news.section.title, news.section} : #{link_to news.title, [:redaction, news]}".html_safe
  - c.meta  = news_posted_by(news)
  - c.image = link_to(image_tag(news.section.image.url, :alt => news.section.title), news.section)
  - c.body  = capture do
    = sanitize(spellify news.body)
    %ul
      = render news.links
    = sanitize(spellify news.second_part)
