#topbar
  - if show_backlink
    .backlink
      = link_to image_tag("feather-icons/dist/icons/arrow-left.svg", alt: "Retour à l’espace de rédaction"), '/redaction'
  - if news.versions.count > 0
    .lastmodifications
      - revision = news.versions.first
      .revision-table
        .revision-cell
          = revision.version
      %p
        dernière modification
        %br
        %span.revision-date
          = "le #{I18n.l(revision.created_at, :format => '%d %B %Y à %H:%M:%S')}"
  = render 'redaction/news/attendees', attendees: news.attendees, enable_reassign: false
