- title @news.title

- content_for :infos do
  = render "shared/news_infos", news: @news

.draft_header
  = link_to "Retour", :back
  = render 'attendees', attendees: @news.attendees
.draft_creator
  = news_initiated_by(@news)

%article
  = form_for @news, url: reorganized_redaction_news_path(@news), method: :put do |form|
    %p
      = form.label :section_id, "Section"
      = form.collection_select :section_id, Section.published, :id, :title
    %p
      = form.label :title, "Titre"
      = form.text_field :title, autocomplete: 'off', required: 'required', spellcheck: 'true', maxlength: 100
    %p
      = form.label :wiki_body, "Chapeau"
      = form.text_area :wiki_body, required: 'required', spellcheck: 'true', class: 'markItUp'
    %p
      = form.label :wiki_second_part, "Contenu de la dépêche"
      = form.text_area :wiki_second_part, spellcheck: 'true', class: 'markItUp'
    #form_links
      %fieldset
        %label#label-link-name Nom du lien
        %label#label-link-url URL
        %label#label-link-lang langue
        %label#label-link-actions actions
      = form.fields_for :links do |lform|
        %fieldset.link
          = lform.text_field :title
          = lform.url_field :url
          = lform.select :lang, Lang.all
    %p
      = form.submit "OK"
