%main#contents(role="main")
  %nav
    %ul
      - if @version.higher_item
        %li= link_to "Précédente révision", revision_redaction_news_path(@news.friendly_id, @version.higher_item.version)
      - if @version.lower_item
        %li= link_to "Révision suivante", revision_redaction_news_path(@news.friendly_id, @version.lower_item.version)

  = link_to h1(@news.title), [@news.draft? ? :redaction : :moderation, @news]

  %h2
    #{@version.author_name}&nbsp;: #{@version.message} (#{l @version.created_at})
  - if @version.title != @previous.title
    %h3 Titre
    %pre
      = htmldiff @previous.title, @version.title
  - if @version.body != @previous.body
    %h3 Première partie
    %pre
      = htmldiff @previous.body, @version.body
  - if @version.links != @previous.links
    %h3 Liens
    %pre
      = htmldiff @previous.links, @version.links
  - if @version.second_part != @previous.second_part
    %h3 Seconde partie
    %pre
      = htmldiff @previous.second_part, @version.second_part

  %nav
    %ul
      - if @version.higher_item
        %li= link_to "Précédente révision", revision_redaction_news_path(@news.cached_slug, @version.higher_item.version)
      - if @version.lower_item
        %li= link_to "Révision suivante", revision_redaction_news_path(@news.cached_slug, @version.lower_item.version)
