- title @news.title

- content_for :chat do
  #redaction_board
    %p
      = link_to "Retourner sur la liste des dépêches en cours de rédaction", '/redaction'
    = render 'board', :boards => @boards
    = render 'attendees', :attendees => @news.attendees
    = render 'editions', :news => @news

= article_for @news do |c|
  - c.title = capture do
    = render :partial => 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image, :alt => @news.section.title), @news.section)
  - c.body  = capture do
    #first_part
      = render :partial => 'redaction/paragraphs/paragraph', :collection => @news.paragraphs.in_first_part
    %ul#links
      = render :partial => 'redaction/links/link', :collection => @news.links
    %p.new_link{'data-url' => new_redaction_news_link_path(:news_id => @news)}
      %button.add_link Ajouter un lien
    #second_part_toc
      = @news.second_part_toc
    #second_part
      = render :partial => 'redaction/paragraphs/paragraph', :collection => @news.paragraphs.in_second_part
    .new_paragraph
      = button_to "Ajouter un paragraphe", redaction_news_paragraphs_path(:news_id => @news), :remote => true, :class => "add_para"

= link_to "Réorganiser", reorganize_redaction_news_path(@news), :class => "reorganize"
- if current_account.amr? || @news.submitted_by?(current_account)
  = button_to "Soumettre la dépêche", submit_redaction_news_path(@news), :class => "submit_news"

%article
  %strong Attention :
  pour éviter les conflits, une seule personne à la fois peut éditer un paragraphe donné.
  En pratique, cela veut dire qu'un verrou est posé sur le paragraphe dès qu'une personne passe en mode édition pour ce paragraphe.
  Le verrou est relaché quand la personne a fini de modifier le paragraphe ou expirera au bout de 20 minutes.

= render 'shared/wiki_help'
