- title @news.title

- content_for :aside do
  %h1 Sommaire
  #second_part_toc
    = @news.second_part_toc
  = link_to "Réorganiser", reorganize_redaction_news_path(@news), class: "reorganize"

  %h1 Liens
  %ul#links
    = render partial: 'redaction/links/link', collection: @news.links
  %p.new_link{'data-url' => new_redaction_news_link_path(news_id: @news)}
    %button.add_link Ajouter un lien

  %h1 Publication
  #news-actions
    - if current_account.can_erase? @news
      .action
        = button_to "Effacer la dépêche", erase_redaction_news_path(@news), class: "erase_news", data: { confirm: "Effacer cette dépêche créée par erreur ?" }
    - if current_account.can_followup? @news
      .action
        %button#followup.more Relancer les rédacteurs
        .more_actions(style="display: none;")
          = form_tag followup_redaction_news_path(@news) do
            %p
              Vous pouvez envoyer un message de relance aux participants de cette dépêche
              pour leur demander de finaliser cette dépêche. N'hésitez pas à leur donner
              des précisions (date de sortie imminente, demande de précisions, etc.).
            = text_area_tag :message, nil, rows: 10
            = submit_tag 'Envoyer'
    .action
      - if @news.urgent?
        = form_tag cancel_urgent_redaction_news_path(@news) do
          =label_tag "urgence", "La publication est urgente :"
          =check_box_tag "urgence", value="Dépêche urgente", checked=@news.urgent?, {onclick: "submit()"}
      - else
        = form_tag urgent_redaction_news_path(@news) do
          =label_tag "urgence", "La publication est urgente :"
          =check_box_tag "urgence", value="Dépêche urgente", checked=@news.urgent?, {onclick: "submit()"}
    - if current_account.amr? || current_account.editor? || @news.submitted_by?(current_account)
      .action
        = button_to "Soumettre", submit_redaction_news_path(@news), class: "submit_news", data: { confirm: "Une fois la dépêche soumise en modération, vous ne pourrez plus la modifier avant sa publication. Êtes-vous sûr ?" }

- content_for :infos do
  = render "shared/news_infos", news: @news

.draft_header
  = link_to "Retour", '/redaction'
  = render 'attendees', attendees: @news.attendees
.draft_creator
  = news_initiated_by(@news)

= article_for @news do |c|
  - c.title = capture do
    = render partial: 'short'
  - c.meta  = news_initiated_by(@news)
  - c.body  = capture do
    #first_part.draft
      = render partial: 'redaction/paragraphs/paragraph', collection: @news.paragraphs.in_first_part
    #figure
      = render partial: 'redaction/figures/figure', locals: { news: @news }
    #second_part
      = render partial: 'redaction/paragraphs/paragraph', collection: @news.paragraphs.in_second_part
    .new_paragraph
      = button_to "Ajouter un paragraphe", redaction_news_paragraphs_path(news_id: @news), remote: true, class: "add_para"
