- title @news.title

- content_for :chat do
  #main_board
    = render 'board'

= article_for @news do |c|
  - c.title = capture do
    = render :partial => 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image.url, :alt => @news.section.title), @news.section)
  - c.body  = capture do
    #first_part
      = render 'redaction/paragraphs/paragraph', :collection => @news.paragraph.in_first_part
    %ul#links
      = render 'redaction/links/link', :collection => @news.links
    %p.new_link{'data-url' => new_redaction_news_link_path(:news_id => @news.to_param)}
      %button Ajouter un lien
    #second_part
      = render 'redaction/paragraphs/paragraph', :collection => @news.paragraph.in_second_part

= button_to "Soumettre la dépêche", submit_redaction_news_path(@news)
- if current_user.amr?
  = button_to "Supprimer tous les locks", clear_locks_moderation_news_path(@news), :class => 'ajax'
