- title @news.title

- content_for :metadata do
  = render 'metadata', news: @news

- content_for :toolpanel do
  = render 'toolpanel', news: @news, boards: @boards, enable_reassign: true

- content_for :toolbar do
  = render 'toolbar', news: @news

= render 'topbar', news: @news, show_backlink: true

= article_for @news do |c|
  - c.title = capture do
    = render partial: 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image, alt: @news.section.title), @news.section)
  - c.body  = capture do
    #first_part
      = render partial: 'redaction/paragraphs/paragraph', collection: @news.paragraphs.in_first_part
    %ul#links
      = render partial: 'redaction/links/link', collection: @news.links
    %p.new_link{'data-url' => new_redaction_news_link_path(news_id: @news)}
      %button.add_link Ajouter un lien
    .second_part_toc
      = @news.second_part_toc
    #second_part
      = render partial: 'redaction/paragraphs/paragraph', collection: @news.paragraphs.in_second_part
    .new_paragraph
      = button_to "Ajouter un paragraphe", redaction_news_paragraphs_path(news_id: @news), remote: true, class: "add_para"

= link_to "Réorganiser", reorganize_redaction_news_path(@news), class: "reorganize"
- if current_account.amr? || current_account.editor? || @news.submitted_by?(current_account)
  = button_to "Soumettre la dépêche", submit_redaction_news_path(@news), class: "submit_news", data: { confirm: "Une fois la dépêche soumise en modération, vous ne pourrez plus la modifier avant sa publication. Confirmez‑vous sa soumission ?" }
  - if @news.urgent?
    = button_to "Enlever l’urgence", cancel_urgent_redaction_news_path(@news), class: "urgent_news"
  - else
    = button_to "Marquer comme urgent", urgent_redaction_news_path(@news), class: "urgent_news", data: { confirm: "Cette dépêche est‑elle urgente et doit‑elle être publiée au plus tôt ?" }
- if current_account.can_erase? @news
  = button_to "Effacer la dépêche", erase_redaction_news_path(@news), class: "erase_news", data: { confirm: "Confirmez‑vous vouloir supprimer cette dépêche ?" }
- if current_account.can_followup? @news
  %button#followup.more Relancer les rédacteurs
  #followup_container.more_actions(style="display: none;")
    %h1 Relancer les rédacteurs
    %p
      Vous pouvez envoyer un email de relance aux participants de cette dépêche
      pour leur demander de la finaliser.
    %p
      N’hésitez pas à leur donner des précisions (date de sortie imminente, demande de précisions, etc.).
    %h2 Email de relance
    = form_tag followup_redaction_news_path(@news) do
      %article#followup_mail
        %pre#follwoup_header
          = render formats: [:text], partial: 'news_notifications/followup_header'
        = text_area_tag :message, "L'équipe d'animation vous encourage à finaliser la dépêche.", rows: 10
        %pre#followup_footer
          = render formats: [:text], partial: 'news_notifications/followup_footer'
      = submit_tag 'Envoyer'

%article
  %strong Attention :
  pour éviter les conflits, une seule personne à la fois peut éditer un paragraphe donné.
  En pratique, cela veut dire qu’un verrou est posé sur le paragraphe dès qu’une personne passe en mode édition pour ce paragraphe.
  Le verrou est relâché quand la personne a fini de modifier le paragraphe ou il expirera au bout de vingt minutes.
