- title @news.title

- content_for :chat do
  #main_board
    = render 'board'

= article_for @news do |c|
  - c.title = capture do
    = render :partial => 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image, :alt => @news.section.title), @news.section)
  - c.body  = capture do
    #first_part
      = render :partial => 'redaction/paragraphs/paragraph', :collection => @news.paragraphs.in_first_part
    %ul#links
      = render :partial => 'redaction/links/link', :collection => @news.links
    %p.new_link{'data-url' => new_redaction_news_link_path(:news_id => @news)}
      %button Ajouter un lien
    #second_part
      = render :partial => 'redaction/paragraphs/paragraph', :collection => @news.paragraphs.in_second_part
    %p.new_paragraph
      = button_to "Ajouter un paragraphe", redaction_news_paragraphs_path(:news_id => @news), :remote => true

= button_to "Soumettre la dépêche", submit_redaction_news_path(@news)
- if current_account.amr?
  = button_to "Supprimer tous les locks", clear_locks_moderation_news_path(@news)

= render 'shared/wiki_help'
