.news{:id => "news-#{news.id}"}
  %h3
    = link_to news.section.title, news.section
    \:
    = link_to news.title, [:moderation, news]
  .content
    = news.wikified_body
    TODO links
    = news.wikified_second_part
