%article
  %h1 Votes
  %p
    %strong Pour :
    = voters_for(@news)
  %p
    %strong Contre :
    = voters_against(@news)

  - if @news.published?
    %p
      %strong Dépêche publiée
    - if @news.on_ppp?
      %strong En PPP
    - elsif @news.pppable_by?(current_user)
      - form_tag ppp_moderation_news_path(@news) do
        = submit_tag "Placer en PPP"
  - elsif @news.refused?
    %p
      %strong Dépêche refusée
  - else
    - if @news.acceptable_by?(current_user)
      - form_tag accept_moderation_news_path(@news) do
        = submit_tag "Publier"
    - if @news.refusable_by?(current_user)
      - form_tag refuse_moderation_news_path(@news) do
        = submit_tag "Refuser"
