#news_vote
  %h1 Votes
  %p
    Taille des équipes admin+modération : n = #{Account.amr.count}
    %br
    Seuil d’acceptation (n/7 votes) : &gt; #{News.accept_threshold}
    %br
    Seuil de refus (n/6 votes) : &lt; #{News.refuse_threshold}
  %p
    %strong Pour :
    = @news.voters_for
  %p
    %strong Contre :
    = @news.voters_against
  - if current_account.can_vote?(@news)
    %div
      = button_to "Pour", "/nodes/#{@news.node.id}/vote/for", remote: true, class: "vote_for"
      ou
      = button_to "Contre", "/nodes/#{@news.node.id}/vote/against", remote: :true, class: "vote_against"

  - if @news.published?
    %p
      %strong Dépêche publiée
    - if @news.on_ppp?
      %strong Affichée en phare
    - elsif current_account.can_ppp?(@news)
      = button_to "Mettre en phare", ppp_moderation_news_path(@news), class: "ppp_news"
  - elsif @news.refused?
    %p
      %strong Dépêche refusée
  - else
    - if @news.acceptable? && current_account.can_accept?(@news)
      = button_to "Publier", accept_moderation_news_path(@news), class: "publish_news"
    - elsif @news.refusable? && current_account.can_refuse?(@news)
      = button_to "Refuser", refuse_moderation_news_path(@news), class: "refuse_news"
      - if @news.node.cc_licensed?
        = button_to "Renvoyer en rédaction", rewrite_moderation_news_path(@news), class: "rewrite_news"
    - elsif current_account.admin?
      %button#admin_49_3.more 49.3 autoritaire
      .more_actions(style="display: none;")
        = button_to "Publier", accept_moderation_news_path(@news), class: "publish_news"
        = button_to "Refuser", refuse_moderation_news_path(@news), class: "refuse_news"
        = button_to "Voter à nouveau", reset_moderation_news_path(@news), class: "reset_news"
        - if @news.node.cc_licensed?
          = button_to "Retour en rédaction", rewrite_moderation_news_path(@news), class: "rewrite_news"
