=h1 "Modération"

%h2 Nouveaux télégrammes
- if @news.empty?
  %p Aucun télégramme dans la file de modération.
- else
  %ul
    = list_of(@news) do |news|
      = link_to news.title, [:moderation, news]

%h2 Télégrammes en cours de rédaction
- if @drafts.empty?
  %p Aucun télégramme en cours de rédaction
- else
  %ul
    = list_of(@drafts) do |news|
      = link_to news.title, [:redaction, news]

%h2 15 derniers télégrammes refusés
%ul
  = list_of(@refused) do |news|
    = link_to news.title, [:moderation, news]

%h2
  = link_to "Images externes", moderation_images_path

%h2
  = link_to "Sondages", moderation_polls_path
- if @polls.empty?
  %p Aucune proposition
- else
  %ul
    = list_of(@polls) do |poll|
      = link_to poll.title, [:moderation, poll]

= render 'board'
