=h1 "Modération"

%h2 Nouvelles dépêches
- if @news.empty?
  %p Aucune dépêche dans la file de modération.
- else
  %ul.news_waiting_for_moderation
    = list_of(@news) do |news|
      = link_to news.title, [:moderation, news]
      %span.votes #{news.nb_voters_for} / #{news.nb_voters_against}

%h2 Dépêches en cours de rédaction
- if @drafts.empty?
  %p Aucune dépêche en cours de rédaction
- else
  %ul
    = list_of(@drafts) do |news|
      = link_to news.title, [:redaction, news]

%h2 Quinze dernières dépêches refusées
%ul
  = list_of(@refused) do |news|
    = link_to news.title, [:moderation, news]

%h2
  = link_to "Images externes", moderation_images_path

%h2
  = link_to "Étiquettes publiques", moderation_tags_path

%h2
  = link_to "Sondages", moderation_polls_path
- if @polls.empty?
  %p Aucune proposition
- else
  %ul
    = list_of(@polls) do |poll|
      = link_to poll.title, [:moderation, poll]

= render 'redaction/news/board'
