=h1 "Refuser une dépêche"

- content_for :column do
  = render 'boards/boards'

%h2 Utiliser un mail de refus type
= form_tag refuse_moderation_news_path(@news) do
  %p
    = label_tag :template, 'Modèle'
    = select_tag :template, options_from_collection_for_select(Response.all, 'id', 'title')
  %div
    = label_tag :message, 'Message personnalisé qui sera ajouté dans le corps du mail'
    = text_area_tag :message, '', :cols => 120, :rows => 10
  = submit_tag "Refuser"

%h2 Utiliser un mail de refus personnalisé
= form_tag refuse_moderation_news_path(@news) do
  %div
    = text_area_tag :message, '', :cols => 120, :rows => 10
  = submit_tag "Refuser"

%h2 Utiliser le mail de refus en anglais
= form_tag refuse_moderation_news_path(@news) do
  = hidden_field_tag :message, 'en'
  = submit_tag "Refuser"

%h2 Ne pas envoyer de mail (spam)
= form_tag refuse_moderation_news_path(@news) do
  = hidden_field_tag :message, 'no'
  = submit_tag "Refuser"
