- title @news.title

- content_for :chat do
  #main_board
    = render 'vote'
    = render 'board'

= article_for @news do |c|
  - c.title = capture do
    = render :partial => 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image.url, :alt => @news.section.title), @news.section)
  - c.body  = capture do
    #first_part
      - @news.paragraphs.in_first_part.each do |paragraph|
        = render 'redaction/paragraphs/paragraph', :paragraph => paragraph
    - @news.links.each do |link|
      = render 'redaction/links/link', :link => link
    %p.new_link{'data-url' => new_redaction_news_link_path(:news_id => @news.id)}
      %button Ajouter un lien
    #second_part
      - @news.paragraphs.in_second_part.each do |paragraph|
        = render 'redaction/paragraphs/paragraph', :paragraph => paragraph

= button_to "Supprimer tous les locks", clear_locks_moderation_news_path(@news), :class => 'ajax'

%p
  Pour ajouter une note des modérateurs, commencez simplement une ligne par <code>NdM :</code>.
