- title @news.title

- content_for :chat do
  #main-board
    = render 'vote'
    = render 'board'

= article_for @news do |c|
  - c.title = capture do
    = render :partial => 'short'
  - c.meta  = news_posted_by(@news)
  - c.image = link_to(image_tag(@news.section.image.url, :alt => @news.section.title), @news.section)
  - c.body  = capture do
    = sanitize(spellify @news.body)
    = render @news.links
    = sanitize(spellify @news.second_part)
