= messages_on_error @section

%p
  = form.label :title, 'Titre'
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :image, 'Image'
  = form.file_field :image
%p
  = form.label :state, 'Status'
  = form.radio_button :state, "published"
  = form.label :state_published, 'OK'
  = form.radio_button :state, "deleted"
  = form.label :state_deleted, 'Fermée'
%p
  = form.submit "Enregistrer"
