=h1 "Les sections"

%p= link_to "Créer une section", new_admin_section_path

- if @sections.empty?
  %p Pas de sections
- else
  %table
    %tr
      %th Nom
      %th Image
      %th État
      %th Actions
    - @sections.each do |section|
      %tr
        %td
          = link_to section.title, section
        %td
          = image_tag(section.image, alt: section.title)
        %td
          = section.state == "published" ? "publiée" : "archivée"
        %td
          = link_to "Modifier", edit_admin_section_path(section)
          = button_to "Archiver", [:admin, section], method: :delete, data: { confirm: "Archiver la section ?" }, class: "delete_button"
