=h1 "Liste des sections"

%p= link_to "Créer une section", new_admin_section_path

- if @sections.empty?
  %p Pas de sections
- else
  %table
    %tr
      %th Nom
      %th Image
      %th État
      %th Actions
    - @sections.each do |section|
      %tr
        %td
          = link_to section.title, section
        %td
          = image_tag(section.image.url, :alt => section.title)
        %td
          = section.state
        %td
          #{link_to "Modifier", edit_admin_section_path(section)} | #{button_to "Supprimer", [:admin, section], :method => :delete}
