#user-bar
  - if logged_in?
    = "Loggé en tant que #{link_to_current_user :content_method => :login} (#{link_to 'Se délogger', logout_path})"
  - else
    = link_to "Se logger", login_path
    = link_to "S'inscrire", signup_path
