#user_recent_contents.box
  %h1= @user.name
  %p Compte créé le #{l @user.created_at.to_date}
  - if current_account && current_account.admin? && @user.account
    %ul
      %li Courriel : #{@user.account.email}
      %li Karma : #{@user.account.karma}
      %li Rôle : #{@user.account.role}
  %ul
    %li= link_to "Derniers journaux", user_path(@user)
    %li= link_to "Dernières dépêches", news_user_path(@user)
    %li= link_to "Derniers posts sur le forum", posts_user_path(@user)
    %li= link_to "Dernières entrées du suivi", suivi_user_path(@user)
    %li= link_to "Derniers commentaires", comments_user_path(@user)
