#user_recent_contents.box
  %h1= @user.name
  %p Compte créé le #{l @user.created_at.to_date}
  - unless @user.account && @user.account.active?
    %p Compte fermé
  - if @user.account && @user.account.viewable_by?(current_account)
    %ul
      %li Courriel : #{@user.account.email}
      %li Rôle : #{@user.account.role}
      - if current_account.amr?
        %li Karma : #{@user.account.karma}
      %li Dernière connexion : #{l @user.account.current_sign_in_at}
  %ul
    %li= link_to "Derniers journaux", user_path(@user)
    %li= link_to "Dernières dépêches", news_user_path(@user)
    %li= link_to "Derniers posts sur le forum", posts_user_path(@user)
    %li= link_to "Dernières entrées du suivi", suivi_user_path(@user)
    %li= link_to "Derniers commentaires", comments_user_path(@user)
