#user_recent_contents.box
  %h1= @user.name
  %p Compte créé le #{l @user.created_at.to_date}
  - unless @user.account && @user.account.active_for_authentication?
    %p Compte fermé
  - if @user.account && @user.account.viewable_by?(current_account)
    - a = @user.account
    %ul
      %li Courriel&nbsp;: #{a.email}
      %li Rôle&nbsp;: #{a.role}
      %li Dernière connexion&nbsp;: #{a.current_sign_in_at ? l(@user.account.current_sign_in_at) : "-"}
      %li Karma&nbsp;: #{a.karma} (minimum&nbsp;: #{a.min_karma}, maximum&nbsp;: #{a.max_karma})
    - if current_account.admin?
      = button_to "+50XP", karma_admin_account_path(@user.account.id)
      %button.more Changement de rôle
      .more_actions(style="display: none;")
        - if a.editor?
          = button_to "Retour simple visiteur", admin_account_editor_path(a.id), :method => :delete
        - elsif a.moderator?
          = button_to "Retour simple visiteur", admin_account_moderator_path(a.id), :method => :delete
        - elsif a.admin?
          = button_to "Retour simple visiteur", admin_account_admin_path(a.id), :method => :delete
        - else
          = button_to "→ modérateur", admin_account_moderator_path(a.id)
          = button_to "→ rédacteur", admin_account_editor_path(a.id)
          = button_to "→ admin", admin_account_admin_path(a.id)
    - if current_account.can_block?
      %button.more.block Bloquer les commentaires
      .more_actions(style="display: none;")
        %ul
          %li= button_to "24h", moderation_block_index_path(:nb_days => 1, :account_id => @user.account.id), :remote => true, :class => "block"
          %li= button_to "2 jours", moderation_block_index_path(:nb_days => 2, :account_id => @user.account.id), :remote => true, :class => "block"
          %li= button_to "une semaine", moderation_block_index_path(:nb_days => 7, :account_id => @user.account.id), :remote => true, :class => "block"
          %li= button_to "un mois", moderation_block_index_path(:nb_days => 30, :account_id => @user.account.id), :remote => true, :class => "block"
    - if current_account.can_plonk?
      %button.more.plonk Interdire de tribune
      .more_actions(style="display: none;")
        %ul
          %li= button_to "24h", moderation_plonk_index_path(:nb_days => 1, :account_id => @user.account.id), :remote => true, :class => "plonk"
          %li= button_to "2 jours", moderation_plonk_index_path(:nb_days => 2, :account_id => @user.account.id), :remote => true, :class => "plonk"
          %li= button_to "une semaine", moderation_plonk_index_path(:nb_days => 7, :account_id => @user.account.id), :remote => true, :class => "plonk"
          %li= button_to "un mois", moderation_plonk_index_path(:nb_days => 30, :account_id => @user.account.id), :remote => true, :class => "plonk"
      - if @user.account.logs.any?
        %h2 Historique
        %ul
          = list_of(@user.account.logs) do |log|
            #{l log.created_at} - #{log.user.try :name} - #{log.description}
  %ul
    %li= link_to "Derniers journaux", journaux_user_path(@user)
    %li= link_to "Dernières dépêches", news_user_path(@user)
    %li= link_to "Derniers posts sur le forum", posts_user_path(@user)
    %li= link_to "Dernières entrées du suivi", suivi_user_path(@user)
    %li= link_to "Derniers commentaires", comments_user_path(@user), :rel => "nofollow"
