%article{class: 'content vcard'}
  %h2
    = link_to user.name, user, class: 'fn url'
  %figure.image
    = avatar_img(user)
  - unless user.account && user.account.active_for_authentication?
    %p
      Compte fermé
  - if user.homesite.present?
    %p
      Site web personnel : #{link_to user.homesite, user.homesite, class: 'url me'}
  - if current_account && user.jabber_id.present?
    %p
      Adresse XMPP : #{link_to 'xmpp:' + user.jabber_id, 'xmpp:' + user.jabber_id, class: 'url'}
  - if current_account && user.mastodon_url.present?
    %p
      Adresse Mastodon : #{link_to 'Mastodon', user.mastodon_url, class: 'url'}
