- content_for :column do
  = render 'recent'
  = render 'nodes'

#contents
  =h1 "#{@user.name} a écrit #{pluralize @comments.total_count, "commentaire"}"
  - feed "Flux Atom des commentaires de #{@user.name}"
  = paginate @comments
  %ul
    - @comments.each do |comment|
      %li.comment(id="comment-#{comment.id}")
        = render comment
  = paginate @comments
