- content_for :column do
  = render 'recent'
  = render 'nodes'

%main#contents(role="main")
  =h1 "#{@user.name} a écrit #{pluralize @comments.total_count, "commentaire"}"
  - feed "Flux Atom des commentaires de #{@user.name}"
  %style{type: "text/css"}
    \.toolbox .pagination { display: block }
  %nav.toolbox
    = paginate @comments
  %div#comments
    %ul.threads
      - @comments.each do |comment|
        %li.comment(id="comment-#{comment.id}")
          = render comment
  %nav.toolbox
    = paginate @comments
