- content_for :column do
  = render 'recent'
  = render 'nodes'

=h1 "#{@user.name} a écrit #{pluralize @nodes.total_count, "message"} dans les forums"
- feed "Flux Atom des messages dans les forums de #{@user.name}"
= paginated_nodes @nodes
