- content_for :column do
  = render 'recent'
  = render 'nodes'

=h1 "#{@user.name} a écrit #{pluralize @nodes.total_count, "contenu"} de type dépêche ou journal"
- feed "Flux Atom de #{@user.name}", "/users/#{@user.to_param}.atom"
= paginated_nodes @nodes
