- content_for :column do
  = render 'recent'
  = render 'nodes'

=h1 "#{@user.name} a écrit #{pluralize @nodes.total_count, "contenu"} de type dépêche ou journal"
- feed "Flux Atom de #{@user.name}", "/users/#{@user.to_param}.atom"
- if @user.mastodon_url.present? and @user.account.try(:karma).to_i > 0
  - link "me", @user.mastodon_url
- filter_pagination_params ['id', 'order', 'page']
= paginated_nodes @nodes
