- content_for :column do
  = render 'recent'
  = render 'nodes'

=h1 "#{@user.name} a écrit #{pluralize @nodes.total_count, "journal"}"
- feed "Flux Atom des journaux de #{@user.name}", "/users/#{@user.cached_slug}.atom"
= paginated_nodes @nodes
