- content_for :column do
  = render 'recent'
  = render 'nodes'

%main#contents(role="main")
  =h1 "Les participations de #{@user.name} au wiki"
  = paginate @versions
  %ul.changes
    = list_of(@versions) do |v|
      #{l v.created_at.to_date} -
      = link_to v.wiki_page.title, v.wiki_page
      = link_to "(révision #{v.version} par #{v.user.try :name})", revision_wiki_page_path(v.wiki_page.cached_slug, v.version)
  = paginate @versions
