<h2>Changer de mot de passe</h2>

<%= form_for @account, :url => password_path(:account), :html => { :method => :put } do |f| %>
  <%= messages_on_error @account %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Enregistrer" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
