%main.devise.measure#contents(role="main")
  %a.devise.logo(href="/")
    %img{src: Logo.image, title: "LinuxFr.org"}
    %hr
  =h1 "Mot de passe oublié ?"

  = form_for @account, url: password_path(:account) do |f|
    = devise_error_messages!
    %p
      = f.email_field :email, placeholder: "Adresse de courriel"
    %p
      = f.submit "Envoyer un courriel"

  .devise.links
    = render partial: "devise/shared/links"
