<h2>Mot de passe oublié ?</h2>

<%= form_for @account, :url => password_path(:account) do |f| %>
  <%= messages_on_error @account %>

  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>

  <p><%= f.submit "Envoyer les instructions pour réinitialiser le mot de passe" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
