%p
  - if news.urgent?
    %h1.urgent Dépêche urgente !
.tab-header-container
  .tab{'data-tab-content-id' => 'tab-board', 'data-show-content' => true}
    Tribune
  .tab{'data-tab-content-id' => 'tab-infos', 'data-chan' => Push.private_key(news)}
    Détails
  .tab{'data-tab-content-id' => 'tab-help'}
    Aide
%div
  #tab-board.tab-content{'data-show-content' => true}
    = render 'boards/large', boards: @boards, box: false
  #tab-infos.tab-content
    %hr
    %p
      Titre:
      = news.title
    %p
      Rédaction:
      - if news.node.cc_licensed?
        collective
    %p
      Licence:
      - if news.node.cc_licensed?
        = link_to "CC by-sa", cc_url(news), rel: 'license'
    %p
      Catégorie:
      = link_to(news.section.title, news.section)
    %hr
    - news_content = strip_tags(news.body + ' ' + news.second_part)
    #news_statistics
      %p
        #{number_with_delimiter(1 + news.nb_editors)} participants
      %p
        #{number_with_delimiter(news.versions.count)} révisions
      %p
        #{number_with_delimiter(news_content.split(/[…!\.\?]{1,3}/).count)} phrases
      %p
        #{number_with_delimiter(news_content.split(' ').count)} mots
      %p
        #{number_with_delimiter(news.paragraphs.count)} paragraphes
      %p
        #{number_with_delimiter(news_content.length)} caractères
    %hr
    = render 'editions', news: news
    %hr
    %p Participants
    = render 'attendees', attendees: news.attendees
    %hr
  #tab-help.tab-content
    - if news.candidate?
      %p Pour ajouter une note des modérateurs, commencez simplement une ligne par <code>NdM :</code>.
    %hr
    %p Pour éviter les conflits, une seule personne à la fois peut éditer un paragraphe donné.
    %p Pendant l'édition du paragraphe, un verrou est posé par l'utilisateur
    %p Ce verrou est relaché quand l'utilisateur termine sa modification ou au bout de 20 minutes.
    %hr
    %p
      L'icone
      = image_tag "feather-icons/dist/icons/scissors.svg", alt: "Suggestion de découpe", style: "height:1em;"
      sert à suggérer où découper entre le chapeau de la dépêche et son contenu.
    %hr
    = render 'shared/news_wiki_help'
    %hr
