#moderation_box.box
  %h1
    = link_to "Modération", '/moderation'
  - @candidate_news = News.candidate.sorted
  - if @candidate_news.empty?
    %p Pas de dépêche à modérer
  - else
    %ul
      = list_of(@candidate_news) do |news|
        - if news.node.board_status(current_account) != :read
          = image_tag "/images/icones/chat.png", :alt => "Nouveaux !", :title => "Il y a de l'activité sur cette dépêche"
        - if !news.node.vote_by?(current_account.id) && news.node.user_id != current_account.user_id
          = image_tag "/images/icones/bolt.png", :alt => "Pas de vote", :title => "Tu n'as pas voté sur cette dépêche"
        - if news.acceptable?
          = image_tag "/images/icones/check.png", :alt => "Acceptable", :title => "La dépêche est acceptable"
        - elsif news.refusable?
          = image_tag "/images/icones/x.png", :alt => "Refusable", :title => "La dépêche est refusable"
        = link_to news.title, [:moderation, news]
  %p
    = link_to pluralize(Poll.draft.count, "sondage"), moderation_polls_path
  = render 'boards/boards', :boards => Board.limit(12, Board.amr)
