= messages_on_error @application

%p
  = form.label :name, "Nom de l’application"
  = form.text_field :name, required: 'required'
%p
  = form.label :redirect_uri, "URI de redirection"
  = form.text_field :redirect_uri, required: 'required'
%p
  = form.submit "Enregistrer"
