=h1 "Les applications pour l'API"

%table
  %tr
    %th Nom
    %th URI de redirection
    %th Actions
  - @applications.each do |app|
    %tr
      %td
        = app.name
      %td
        = app.redirect_uri
      %td
        = link_to "Afficher", [:admin, app], class: "show_client_app"
        = link_to "Modifier", edit_admin_application_path(app), class: "edit_client_app"
        = button_to "Supprimer", [:admin, app], method: :delete, class: "delete_button", data: { confirm: "Êtes-vous sûr de vouloir supprimer cette application ?" }

= paginate @applications
