=h1 "Application #{@application.name}"

%ul
  %li Nom de l’application : <strong>#{@application.name}</strong>
  %li Identifiant : <var>#{@application.uid}</var>
  %li Secret : <var>#{@application.secret}</var>
  %li URI de redirection : #{@application.redirect_uri}

%p
  = link_to "Revenir à la liste des applications", admin_applications_path
