- feed "Flux Atom des dépêches", "/news.atom"
- title "Accueil"

- if @ppp
  %section.front-page
    .measure
      .picture
        &nbsp;
      .content
        %h1= @ppp.title

.layout-columns.measure
  .layout-column.left
    = paginated_section @nodes, link_to("Proposer une dépêche", "/news/nouveau") do
      %main#contents
        = render @nodes.map(&:content)
    - if @banner
      %aside.banner
        = @banner

  .layout-column.right
    = render 'polls/box'
    = render 'sections/box'

%nav.sections.measure
  %h1 Rubriques
  %ul
    %li= link_to "applications et services", "#"
    %li= link_to "distributions et bureaux", "#"
    %li= link_to "culture et jeux", "#"
    %li= link_to "systèmes et réseaux", "#"
    %li= link_to "bidouille et développement", "#"
    %li= link_to "économie et entreprise", "#"
    %li= link_to "revue de presse", "#"
