- feed "Flux Atom des dépêches", "/news.atom"
- title "Accueil"

- if @ppp
  %section.front-page
    .node.news.measure
      .node-picture
        &nbsp;
      .node-content
        %h1= link_to @ppp.title, @ppp
        %ul.actions.nav-list
          %li.download.menu-all
            %input.menu-toggle(type="checkbox")
            .download-formats.menu-content
              = link_to "Markdown", "#{path_for_content @ppp}.md", title: "Télécharger ce contenu au format markdown", class: "action"
              = link_to "Epub", "#{path_for_content @ppp}.epub", title: "Télécharger ce contenu au format epub", class: "action"
          %li.comments-count
            = link_to @ppp.node.comments_count, "#{path_for_content @ppp}#comments"

.layout-columns.measure
  .layout-column.left
    = paginated_section @nodes, link_to("Proposer une dépêche", "/news/nouveau") do
      %main#contents
        = render @nodes.map(&:content)
    - if @banner
      %aside.banner
        = @banner

  .layout-column.right
    = render 'polls/box'
    = render 'sections/box'

%nav.sections.measure
  %h1 Rubriques
  %ul
    %li= link_to "applications et services", "#"
    %li= link_to "distributions et bureaux", "#"
    %li= link_to "culture et jeux", "#"
    %li= link_to "systèmes et réseaux", "#"
    %li= link_to "bidouille et développement", "#"
    %li= link_to "économie et entreprise", "#"
    %li= link_to "revue de presse", "#"
