- if @ppp
  - content_for :hero do
    %section#phare
      = render @ppp

- content_for :column do
  = render 'polls/box'
  = render 'sections/box'

- feed "Flux Atom des dépêches", "/news.atom"
- title "Accueil"
- cache_unless account_signed_in?, "home/#{@order}/#{@nodes.current_page}", expires_in: 1.minute do
  %h1 "Accueil"
  - if @banner
    %aside.banner
      = @banner
  = paginated_section @nodes, link_to("Proposer une dépêche", "/news/nouveau") do
    %main#contents(role="main")
      = render @nodes.map(&:content)
