- content_for :column do
  = render 'polls/box'
  = render 'sections/box'

- feed "Flux Atom des dépêches", "/news.atom"
- title "Accueil"
- cache_unless account_signed_in?, "home/#{@order}/#{@nodes.current_page}", expires_in: 1.minute do
  %h1 "Accueil"
  - if @ppp
    %section#phare
      = render @ppp
  - if @banner
    %aside.banner
      = @banner
  = paginated_section @nodes, link_to("Proposer une dépêche", "/news/nouveau") do
    %main#contents(role="main")
      = render @nodes.map(&:content)

%nav.sections
  %h1 Rubriques
  %ul
    %li= link_to "applications et services", "#"
    %li= link_to "distributions et bureaux", "#"
    %li= link_to "culture et jeux", "#"
    %li= link_to "systèmes et réseaux", "#"
    %li= link_to "bidouille et développement", "#"
    %li= link_to "économie et entreprise", "#"
    %li= link_to "revue de presse", "#"
