= form.error_messages

%p
  = form.label :title, "Nom du site"
  = form.text_field :title, :autocomplete => 'off', :required => 'required'
%p
  = form.label :url, "URL"
  = form.text_field :url, :autocomplete => 'off', :required => 'required', :type => 'url'
%p
  = form.submit "Envoyer"
