=h1 "Les sites amis"

%p= link_to "Ajouter un site ami", new_admin_friend_site_path

- if @friend_sites.empty?
  %p Pas de site ami
- else
  %table
    %tr
      %th Nom
      %th URL
      %th Actions
    - @friend_sites.each do |site|
      %tr
        %td= site.title
        %td= link_to site.url, site.url
        %td
          = button_to "&uarr;".html_safe, higher_admin_friend_site_path(site)
          = button_to "&darr;".html_safe, lower_admin_friend_site_path(site)
          = link_to "Modifier", edit_admin_friend_site_path(site)
          = button_to "Supprimer", [:admin, site], method: :delete, data: { confirm: "Supprimer le site ami ?" }, class: "delete_button"
