= messages_on_error @news

- unless current_account
  %p
    = form.label :author_name, "Votre nom"
    = form.text_field :author_name, :autocomplete => 'on', :required => 'required', :maxlength => 32
  %p
    = form.label :author_email, "Votre adresse de courriel"
    = form.email_field :author_email, :autocomplete => 'on', :required => 'required', :maxlength => 64
  - if @news.new_record?
    %p.pot_de_miel
      = form.label :pot_de_miel, "Ne pas remplir ce champ"
      = form.text_field :pot_de_miel
%p
  = form.label :title, "Titre de la dépêche"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true', :maxlength => 100
%p
  = form.label :section_id, "Section de la dépêche"
  = form.collection_select :section_id, Section.published, :id, :title
%p
  = form.label :wiki_body, "Contenu de la dépêche"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
#form_links
  %fieldset
    %label#label-link-name Nom du lien
    %label#label-link-url URL
    %label#label-link-lang langue
    %label#label-link-actions actions
  = form.fields_for :links do |lform|
    %fieldset.link
      = lform.text_field :title
      = lform.url_field :url
      = lform.select :lang, Lang.all
%p
  = form.label :wiki_second_part, "Seconde partie"
  = form.text_area :wiki_second_part, :spellcheck => 'true', :class => 'markItUp'
%p
  = label_tag :tags
  = text_field_tag :tags, nil, :class => 'autocomplete', 'data-url' => autocomplete_tags_path, :value => params[:tags], :size => 100
%p
  = form.label :message, "Si vous le souhaitez, vous pouvez laisser un message à l'équipe de modération"
  <br/>
  = form.text_area :message, :spellcheck => 'true', :rows => 2
%p
  = form.check_box :cc_licensed
  = form.label :cc_licensed, 'Je place ce document sous licence Creative Commons Paternité-Partage des Conditions Initiales à l\'Identique 3.0 (<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence CC by-sa</a>). Ceci est conseillé, car cela permet l\'édition collaborative de la dépêche si elle doit être complétée.'.html_safe
%p
  = form.submit "Prévisualiser", :id =>  "news_preview"
  = form.submit "Soumettre cette dépêche", 'data-disable-with' => "Enregistrement en cours" if @preview_mode
