= form.error_messages

%p
  = form.label :title, "Titre de la dépêche"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :section, "Section de la dépêche"
  = form.collection_select :section_id, Section.published, :id, :title
%p
  = form.label :body, "Contenu de la dépêche"
  = form.text_area :body, :required => 'required', :spellcheck => 'true'
- form.fields_for :links do |lform|
  %p
    = lform.text_field :title
    = lform.text_field :url
    = lform.text_field :lang
%p
  = form.label :second_part, "Seconde partie"
  = form.text_area :second_part, :spellcheck => 'true'
%p
  = form.submit "Prévisualiser"
  = form.submit "Soumettre cette dépêche" if @preview_mode
