= form.error_messages

- unless current_user
  %p
    = form.label :author_name, "Votre nom"
    = form.text_field :author_name, :autocomplete => 'on', :required => 'required'
  %p
    = form.label :author_email, "Votre adresse de courriel"
    = form.text_field :author_email, :autocomplete => 'on', :required => 'required'
%p
  = form.label :title, "Titre de la dépêche"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :section, "Section de la dépêche"
  = form.collection_select :section_id, Section.published, :id, :title
%p
  = form.label :wiki_body, "Contenu de la dépêche"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
#form-links
  - langs = Dictionary.collection('lang')
  - form.fields_for :links do |lform|
    %fieldset.link
      = lform.text_field :title
      = lform.text_field :url, :type => 'url'
      = lform.collection_select :lang, langs, :key, :value
%p
  = form.label :wiki_second_part, "Seconde partie"
  = form.text_area :wiki_second_part, :spellcheck => 'true', :class => 'markItUp'
%p
  = form.check_box :cc_licensed
  = form.label :cc_licensed, 'Je place ce document sous licence Creative Commons Paternité-Partage des Conditions Initiales à l\'Identique 3.0 (<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence CC by-sa</a>)'.html_safe
%p
  = form.label :message, "Si vous le souhaitez, vous pouvez laisser un message à l'équipe de modération"
  <br/>
  = form.text_area :message, :spellcheck => 'true'
%p
  = form.submit "Prévisualiser"
  = form.submit "Soumettre cette dépêche" if @preview_mode
