= article_for news do |c|
  - c.title = "#{link_to news.section.title, news.section, :class => "topic", :itemprop => "articleSection"} #{link_to news.title, news}".html_safe
  - c.meta  = news_posted_by(news)
  - c.image = link_to(image_tag(news.section.image, :alt => news.section.title, :title => news.section.title), news.section)
  - if current_account && current_account.can_update?(news)
    - c.actions = link_to("Modifier", [:moderation, news], :class => 'action')
  - c.body  = capture do
    = news.body
    %ul.links
      = render news.links.select([:id, :lang, :title, :url])
    - if defined?(with_second_part) && with_second_part
      = news.second_part
