%article.news{:id => "news-#{news.id}"}
  %h3
    = link_to news.section.title, news.section
    \:
    = link_to news.title, news
  .content
    = news.wikified_body
    - news.links.each do |link|
      %p
        = link_to link.title, link.url
    = news.wikified_second_part
