%article.news{:id => "news-new"}
  %h3
    = link_to preview.section.title, preview.section
    \:
    = preview.title
  .content
    = preview.wikified_body
    - preview.links.each do |link|
      %p
        = link_to link.title, link.url
    = preview.wikified_second_part
