= messages_on_error @response

%p
  = form.label :title, 'Titre'
  = form.text_field :title, autocomplete: 'off', required: 'required', spellcheck: 'true'
%p
  = form.label :content, 'Contenu'
  = form.text_area :content
%p
  = form.submit "Enregistrer"
