#wiki_edition
  %h1
    Éditions
  %p
    = link_to "Éditer", "/wiki/#{edition.to_param}/modifier"
  %p
    Liste des dernières modifications :
  %ul
    = list_of(edition.versions) do |v|
      = link_to "#{v.user.try :name} : #{v.message}", "/wiki/#{edition.to_param}/revisions/#{v.version}"
