- article_for preview do
  %header
    %h2
      #{link_to "Wiki", wiki_pages_path} : #{h preview.title}
    %p
      = posted_by(preview)
  .content
    = sanitize(spellify preview.wikified_body)
  %footer
    %p
      = read_it(preview)
