%main#contents(role="main")
  =h1 "Modifier une page de wiki"

  = render "preview", :preview => @wiki_page if @preview_mode

  = form_for @wiki_page do |form|
    = messages_on_error @wiki_page
    = render form

  - if current_account && current_account.can_destroy?(@wiki_page)
    = button_to "Supprimer", [@wiki_page], :method => :delete, :data => { :confirm => "Êtes-vous sûr de vouloir supprimer cette page de wiki ?" }, :class => "delete_button"

  = render 'shared/wiki_help'
