#contents
  =h1 "Modifier une page de wiki"

  = render "preview", :preview => @wiki_page if @preview_mode

  = form_for @wiki_page do |form|
    = messages_on_error @wiki_page
    = render form

  = button_to "Supprimer", [@wiki_page], :method => :delete, :confirm => "Êtes-vous sûr de vouloir supprimer cette page de wiki ?"

  = render 'shared/wiki_help'
