%main#contents(role="main")
  =h1 "Créer une page de wiki"

  %p
    Des <a href="/regles_de_moderation">règles de modération</a> sont applicables aux pages wiki (et au reste du site).

  = render "preview", :preview => @wiki_page if @preview_mode

  = form_for @wiki_page do |form|
    = messages_on_error @wiki_page
    %p
      = form.label :title, "Titre"
      = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true', :maxlength => 100
    = render form

  = render 'shared/wiki_help'
