=h1 "Créer une page de wiki"

= render "preview", :preview => @wiki_page if @preview_mode

- form_for @wiki_page do |form|
  = form.error_messages
  %p
    = form.label :title, "Titre"
    = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
  = render form

= render 'shared/wiki_help'
