%main#contents(role="main")
  - if @version.higher_item || @version.lower_item
    %nav
      %ul
        - if @version.higher_item
          %li= link_to "Précédente révision", revision_wiki_page_path(@wiki_page.friendly_id, @version.higher_item.version)
        - if @version.lower_item
          %li= link_to "Révision suivante", revision_wiki_page_path(@wiki_page.friendly_id, @version.lower_item.version)

  =h1 "Visualiser une révision"

  %h2
    = link_to @wiki_page.title, @wiki_page
  %h3
    #{@version.author_name}&nbsp;: #{@version.message} (#{l @version.created_at})
  %pre
    = htmldiff @was, @version.body

  - if @version.higher_item || @version.lower_item
    %nav
      %ul
        - if @version.higher_item
          %li= link_to "Précédente révision", revision_wiki_page_path(@wiki_page.cached_slug, @version.higher_item.version)
        - if @version.lower_item
          %li= link_to "Révision suivante", revision_wiki_page_path(@wiki_page.cached_slug, @version.lower_item.version)
