= form_tag "/sondages/#{poll.new_record? ? 0 : poll.to_param}/vote" do
  %ul
    = list_of poll.answers do |answer|
      = radio_button_tag :position, answer.position, false
      = label_tag "position_#{answer.position}", answer.answer
  = submit_tag "Voter" if poll.published?
