= form_tag "/sondages/#{poll.new_record? ? 0 : poll.to_param}/vote", :id => "#{dom_id poll}#{id_suffix}" do
  %ul.poll.current
    - poll.answers.each_with_index do |answer,index|
      %li
        = radio_button_tag :position, answer.position, false, :id => "position_#{index}#{id_suffix}"
        = label_tag "position_#{index}#{id_suffix}", answer.formatted
  %p.total_votes
    Total :
    = pluralize poll.total_votes, "vote"
  = submit_tag "Voter" if poll.published?
