%ul.poll.archived
  = list_of poll.answers do |answer|
    #{answer.formatted} :
    .result(style="width: #{answer.percent}%;")
      = answer.votes
    (#{answer.percent} %)
%p.total_votes
  Total :
  = pluralize poll.total_votes, "vote"
