= messages_on_error @poll

%p
  = form.label :title, "Question", :maxlength => 128
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :wiki_explanations, "Texte descriptif"
  = form.text_area :wiki_explanations, :spellcheck => 'true', :class => 'markItUp'
%p
  Réponses possibles
= form.fields_for :answers do |aform|
  %p
    = aform.text_field :answer, :maxlength => 128
%p
  = form.submit "Prévisualiser", :id => "poll_preview"
  = form.submit "Proposer ce sondage", 'data-disable-with' => "Enregistrement en cours" if @preview_mode
