= article_for poll do |c|
  - c.title = "#{link_to "Sondage", "/sondages", :class => "topic"} #{link_to poll.title, poll}".html_safe
  - c.body  = capture do
    - if poll.explanations
      .explanations= poll.explanations
    = render("polls/answers_#{poll_current_or_archived poll}", :poll => poll, :id_suffix => "")
  - c.actions = capture do
    - if current_account && current_account.can_update?(poll)
      = link_to("Modifier", edit_moderation_poll_path(poll), :class => 'action')
    - if poll.answerable_by?(request.remote_ip)
      = link_to("Afficher les résultats", { :controller => "polls", :action => "show", :id => poll.to_param, :results => 1 }, { :class => "action" })
