- langs = Dictionary.collection('lang')
- form_for @link, :url => @link do |form|
  - if @link.new_record?
    %input(type="hidden" name="news_id" value="#{@news.id}")
  %p.legend
    = form.label :title, 'Titre'
    = form.label :url, 'URL'
    = form.label :lang, 'Langue'
  %p.link
    = form.text_field :title
    = form.url_field  :url
    = form.collection_select :lang, langs, :key, :value
    = form.submit "OK"
