%main#contents(role="main")
  =h1 "Proposer un contenu"

  .body
    %p
      Le site vit grâce aux contributions du lectorat : vous !
      Vous pouvez participer en écrivant différents contenus, allant du simple commentaire à la longue dépêche rédigée.
      Voici de manière plus détaillée les types de contenus que vous pouvez proposer :

    .free_for_all
      %h2 Les dépêches
      %p
        Les dépêches servent à publier de l’information sur les thèmes principaux de LinuxFr.org, à savoir Linux et les logiciels libres.
        D’autres thèmes peuvent être abordés, sous réserve que l’équipe de modération juge qu’ils intéressent suffisamment le lectorat du site.
        Les dépêches purement commerciales et publicitaires seront rejetées (voir l’ensemble des #{link_to "règles de modération", "/regles_de_moderation" }).
      %p
        = link_to "Je souhaite proposer une dépêche et la soumettre directement à la modération.", "/news/nouveau"

      .authenticated_only
        %p
          Il est également possible pour les personnes authentifiées de proposer des sujets de dépêches et de les rédiger en coopération sur l’espace de rédaction.
        %p
          = link_to "Je souhaite commencer une dépêche dans l’espace coopératif et pouvoir bénéficier de l’aide d’autres personnes.", "/redaction"
        %p
          Et il est donc possible pour les personnes authentifiées de se rendre dans l’espace de rédaction afin de participer à l’écriture des dépêches proposées par d’autres personnes.
        %p
          = link_to "Je souhaite participer à l’écriture coopérative d’une dépêche.", "/redaction"

    .free_for_all
      %h2 Le suivi des suggestions et bogues du site
      %p
        Si vous avez rencontré un bogue en parcourant le site Web LinuxFr.org, c’est le bon endroit pour en informer les équipes de développement et d’administration.
        Vous pouvez également suggérer des évolutions pour le site. Cette partie du site ne concerne que les bogues et évolutions du site LinuxFr.org lui-même.
      %p
        = link_to "Je souhaite remonter un bogue ou proposer une évolution", "/suivi/nouveau"

    %hr
    %p
      %strong Note :
      -if account_signed_in?
        en tant que personne authentifiée, vous pouvez également déposer les contenus suivants :
      -else
        les personnes authentifiées peuvent également proposer les contenus suivants :
    %hr

    .authenticated_only
      %h2 Les journaux
      %p
        Les journaux sont destinés aux discussions et aux informations qui n’auraient pas leur place en tant que dépêches.
      %p
        = link_to "Je souhaite écrire un journal", "/journaux/nouveau"

    .authenticated_only
      %h2 Les forums
      %p
        Les forums servent à demander de l’aide, poser des questions diverses et variées.
        Ils sont aussi le bon endroit pour poster des petites annonces.
      %p
        = link_to "Je souhaite poster dans les forums", "/posts/nouveau"

    .authenticated_only
      %h2 Les sondages
      %p
        Vous pouvez suggérer un sondage.
        Si celui‑ci retient l’attention de l’équipe de modération (voir les #{link_to "règles de modération","/regles_de_moderation"}), il sera publié.
      %p
        = link_to "Je souhaite suggérer un sondage", "/sondages/nouveau"

    .authenticated_only
      %h2 Les liens
      %p
        La rubrique « liens » est destinée à recevoir les… euh… liens vers des contenus en rapport avec la ligne éditoriale de LinuxFr.org.
        En particulier, et de manière non exhaustive, les articles concernant GNU/Linux, les logiciels libres, le matériel libre, les arts libres, sont les bienvenus.
        Vous pouvez aussi partager ici des liens vers vos propres contenus hébergés ailleurs.
      %p
        = link_to "Je souhaite partager un lien", "/liens/nouveau"

    .authenticated_only
      %h2 Le wiki
      %p
        Le wiki est un espace fourre‑tout plus ou moins organisé, dont les pages gardent de l’intérêt dans le temps.
      %p
        = link_to "Je souhaite écrire une nouvelle page de wiki", "/wiki/nouveau"
