%article#contents
  =h1 "Proposer un contenu"

  .body
    %p
      Le site vit grâce aux contributions des lecteurs, vous !
      Vous pouvez participer en écrivant différents contenus, allant du simple commentaire à la dépêche façon patrick_g.
      Voici de manière plus détaillée les types de contenus que vous pouvez proposer.

    .free_for_all
      %h2 Les dépêches
      %p
        Les dépêches servent à publier de l'information sur les thèmes principaux de LinuxFr.org, à savoir Linux et les Logiciels Libres.
        D'autres thèmes peuvent être abordés, sous réserve que l'équipe de modération juge qu'ils intéressent suffisament les lecteurs du site.
        Les dépêches purement commerciales et publicitaires seront rejetées (voir l'ensemble des #{link_to "règles de modération", "/regles_de_moderation" }).
      %p
        = link_to "Je souhaite proposer une dépêche et la soumettre directement à la modération", "/news/nouveau"

    .authenticated_only
      %h2 L'espace de rédaction
      %p
        Il est également possible pour les utilisateurs authentifiés de proposer des sujets de dépêches et de les rédiger collaborativement sur l'espace de rédaction.
      %p
        = link_to "Je souhaite participer à l'écriture collaborative d'une dépêche", "/redaction"

    %p
      %strong Note :
      -if account_signed_in?
        En tant qu'utilisateur authentifié, vous pouvez également déposer les contenus suivants :
      -else
        Les utilisateurs authentifiés peuvent également proposer les contenus suivants :

    .authenticated_only
      %h2 Les journaux
      %p
        Les journaux sont destinés aux discussions et aux informations qui n'auraient pas leur place en dépêches.
      %p
        = link_to "Je souhaite écrire un journal", "/journaux/nouveau"

    .authenticated_only
      %h2 Les forums
      %p
        Les forums servent pour demander de l'aide, poser des questions diverses et variées.
        C'est aussi le bon endroit pour poster des petites annonces.
      %p
        = link_to "Je souhaite poster dans les forums", "/posts/nouveau"

    .authenticated_only
      %h2 Les sondages
      %p
        Vous pouvez suggérer un sondage.
        Si celui-ci retient l'attention de l'équipe de modération (voir les #{link_to "règles de modération","/regles_de_moderation"}), il sera publié.
      %p
        = link_to "Je souhaite suggérer un sondage", "/sondages/nouveau"

    .authenticated_only
      %h2 Le suivi des suggestions/bugs
      %p
        Si vous avez rencontré un bug en parcourant le site web LinuxFr.org, c'est le bon endroit pour le remonter.
        Vous pouvez également suggérer des évolutions pour le site.
      %p
        = link_to "Je souhaite remonter un bug ou proposer une évolution", "/suivi/nouveau"

    .authenticated_only
      %h2 Le wiki
      %p
        Le wiki est un espace fourre-tout plus ou moins organisé, dont les pages gardent de l'intérêt dans le temps.
      %p
        = link_to "Je souhaite écrire une nouvelle page de wiki", "/wiki/nouveau"
