- @account ||= Account.new
= form_with model: @account, url: '/compte/connexion', class: 'devise' do |f|
  %p.warning
    %strong Attention :
    l'identifiant et le mot de passe sont <strong>sensibles à la casse</strong>.
  = f.text_field :login, id: "account_login#{id_suffix}", required: "required", placeholder: "Identifiant", size: 20
  = f.password_field :password, id: "account_password#{id_suffix}", required: "required", placeholder: "Mot de passe", size: 20
  = f.submit "Se connecter", id: "account_submit#{id_suffix}"
