= render 'boards/form', :object => board
- if @boards.empty?
  Pas de message
- else
  %dialog
  - @boards.each do |b|
    %dt{:title => b.user_agent}
      = "[<time datetime=\"#{b.created_at.iso8601}\">#{b.created_at.to_s(:norloge)}</time>]"
      = link_to h(b.login), user_url(:id => b.login)
    %dd
      = sanitize b.message
