- board = boards.build
.board{'data-chan' => Push.private_key(board.meta)}
  - if current_account && current_account.can_post_on_board?
    = form_tag "/board", class: 'chat' do
      = hidden_field :board, :object_type, value: board.object_type
      = hidden_field :board, :object_id, value: board.object_id
      = text_field :board, :message, value: '', size: 30, autocomplete: 'off', required: 'required', spellcheck: 'true'
  .inbox
    - boards.each do |board|
      .chat{id: "board-#{board.id}"}
        = image_tag(board.avatar_url, class: "avatar", alt: "")
        %div{class: "board-left"}
          %time.norloge{datetime: board.created_at.iso8601, norloge: norloge(board, box)}
            - if board.created_at.today?
              Aujourd'hui,
            - else
              = "Il y a #{time_ago_in_words board.created_at},"
            = board.created_at.strftime('%Hh%M')
        .user_link= board.user_link
        .message{class: "board-right"}= board.message
