- board = boards.build
.board{'data-chan' => Push.private_key(board.meta)}
  .inbox-container
    .inbox.large
      - boards.reverse.each do |board|
        = render 'boards/board', board: board, box: box, is_large: true
  - if current_account && current_account.can_post_on_board?
    = form_tag "/board", class: 'chat' do
      = hidden_field :board, :object_type, value: board.object_type
      = hidden_field :board, :object_id, value: board.object_id
      %div
        = text_field :board, :message, value: '', placeholder: 'Écrire un message…', autocomplete: 'off', required: 'required', spellcheck: 'true'
        %button.submit
