= messages_on_error @post

%p
  = form.label :forum_id, "Forum"
  = form.select :forum_id, forums_select_list, { include_blank: true }, { required: "required" }
%p
  = form.label :title, "Sujet du message"
  = form.text_field :title, autocomplete: 'off', required: 'required', spellcheck: 'true', maxlength: 100
%p
  = form.label :wiki_body, "Message complet"
  = form.text_area :wiki_body, required: 'required', spellcheck: 'true', class: 'markItUp'
- if form.object.new_record?
  %p
    = label_tag :tags
    = text_field_tag :tags, nil, class: 'autocomplete', 'data-url' => autocomplete_tags_path, value: params[:tags], size: 100
%p
  = form.submit "Prévisualiser", id: "post_preview"
  = form.submit "Poster le message", 'data-disable-with' => "Enregistrement en cours" if @preview_mode and @post.valid?
