- article_for preview do
  %h2
    #{link_to h(preview.forum.title), preview.forum} : #{link_to h(preview.title), [preview.forum, preview]}
  %p
    = posted_by(preview)
  .content
    = sanitize(spellify preview.body)
  %p
    = read_it(preview)
