= messages_on_error @tracker

%p
  = form.label :title, "Titre"
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true'
%p
  = form.label :category, "Catégorie"
  = form.collection_select :category_id, Category.all, :id, :title
%p
  = form.label :wiki_body, "Description détaillée"
  = form.text_area :wiki_body, :required => 'required', :spellcheck => 'true', :class => 'markItUp'
%p
  = form.submit "Prévisualiser", :id => "tracker_preview"
  = form.submit "Soumettre" if @preview_mode || @tracker.persisted?
