= messages_on_error form.object

%p
  = form.label :title, "Titre"
  = form.text_field :title, autocomplete: 'off', required: 'required', spellcheck: 'true', maxlength: 100
%p
  = form.label :category_id, "Catégorie"
  = form.collection_select :category_id, Category.all, :id, :title, { include_blank: true }, { required: "required" }
- if @tracker.new_record?
  %p.pot_de_miel
    = form.label :pot_de_miel, "Ne pas remplir ce champ"
    = form.text_field :pot_de_miel
%p
  = form.label :wiki_body, "Description détaillée"
  = form.text_area :wiki_body, required: 'required', spellcheck: 'true', class: 'markItUp'
- if form.object.persisted?
  %p
    = form.label :state, "État"
    = form.select :state, Tracker::States.invert
  - if current_account.tracker_admin?
    %p
      = form.label :assigned_to_user_id, "Assigné à"
      = form.collection_select :assigned_to_user_id, Account.tracker_admin, :user_id, :login, include_blank: true
%p
  = form.submit "Prévisualiser", id: "tracker_preview"
  = form.submit "Soumettre", 'data-disable-with' => "Enregistrement en cours" if @preview_mode || @tracker.persisted?
