- article_for preview do
  %h3
    = link_to "#{h preview.category_title} : #{h preview.title}", preview
  %p
    = posted_by(preview)
  .content
    = sanitize preview.body
  %p
    = read_it(preview)
