= article_for tracker do |c|
  - c.title = "#{link_to "Suivi - #{tracker.category_title}", "/suivi?tracker[category_id]=#{tracker.category_id}"} #{link_to tracker.title, tracker}".html_safe
  - c.meta = capture do
    = posted_by(tracker)
    État de l'entrée : #{tracker.state_name}
  - if current_account && current_account.can_update?(tracker)
    - c.actions = link_to("Modifier", "/suivi/#{tracker.to_param}/modifier", :class => 'action')
