- article_for tracker do
  %h3
    = link_to "#{h tracker.category_title} : #{h tracker.title}", tracker
  %p
    = posted_by(tracker)
  .content
    = sanitize tracker.body
  %p
    = read_it(tracker)
