%main#contents(role="main")
  =h1 "Modifier une entrée dans le suivi"

  = render "preview", :preview => @tracker if @preview_mode

  %h2 Édition
  = form_for @tracker do |form|
    = render form

  = button_to "Supprimer", @tracker, :method => :delete, :data => { :confirm => "Êtes-vous sûr de vouloir supprimer cette entrée du tracker ?" }, :class => "delete_button"

  = render 'shared/wiki_help'
