%main#contents(role="main")
  =h1 "Modifier une entrée dans le suivi"

  = render "preview", preview: @tracker if @preview_mode and @tracker.valid?

  %h2 Édition
  = form_for @tracker do |form|
    = render form

  = button_to "Supprimer", @tracker, method: :delete, data: { confirm: "Confirmez‑vous vouloir supprimer cette entrée du suivi ?" }, class: "delete_button"

  = render 'shared/wiki_help'
