=h1 "Le suivi"
- feed "Flux Atom du suivi"
- feed "Flux Atom des commentaires", "/suivi/comments.atom"

%nav.toolbox
  %h2 <strong>#{@trackers.length}</strong> entrées ouvertes sur un total de #{Tracker.count}
  .new_content
    = link_to "Proposer une entrée", "/suivi/nouveau"

#contents
  - if @trackers.empty?
    %p
      Pas d'entrées dans le suivi
  - else
    %table#tracker
      %tr
        %th N°
        %th Titre
        %th Date d'ouverture
        %th Affecté à
        %th Envoyé par
        %th Catégorie
        %th Score
        %th Commentaires
        - if current_account && current_account.can_update?(@trackers.first)
          %th Actions
      - @trackers.each do |tracker|
        %tr{:class => tracker.state}
          %td= link_to tracker.id, tracker
          %td= link_to tracker.title, tracker
          %td= tracker.created_at
          %td= tracker.assigned_to
          %td= tracker.reported_by
          %td= tracker.category_title
          %td= tracker.score
          %td= tracker.comments.count
          - if current_account && current_account.can_update?(tracker)
            %td= link_to "Modifier", "/suivi/#{tracker.to_param}/modifier"
