=h1 "Le suivi"
- feed "Flux Atom du suivi"
- feed "Flux Atom des commentaires", comments_trackers_path(:format => :atom)

%p
  = link_to "Proposer une entrée", new_tracker_path

- if @trackers.empty?
  %p
    Pas d'entrées dans le suivi
- else
  %table#tracker
    %tr
      %th N°
      %th Titre
      %th Date d'ouverture
      %th Affecté à
      %th Envoyé par
      %th Catégorie
      %th Score
      - if @trackers.first.editable_by?(current_user)
        %th Actions
    - @trackers.each do |tracker|
      %tr{:class => tracker.state}
        %td= link_to tracker.id, tracker
        %td= link_to tracker.title, tracker
        %td= tracker.created_at
        %td= tracker.assigned_to
        %td= tracker.reported_by
        %td= tracker.category_title
        %td= tracker.score
        - if tracker.editable_by?(current_user)
          %td= link_to "Modifier", edit_tracker_path(tracker)
