=h1 "Le suivi des suggestions et bugs concernant le site"
- feed "Flux Atom du suivi"
- feed "Flux Atom des commentaires", "/suivi/comments.atom"

%nav.toolbox
  %h2 <strong>#{Tracker.opened.count}</strong> entrées ouvertes sur un total de #{Tracker.count}
  .follow_feed
    = link_to "Flux Atom du suivi", "/suivi.atom"
  .new_content
    = link_to "Proposer une entrée", "/suivi/nouveau"

= form_for @tracker, :url => trackers_path, :method => :get do |f|
  %h2 Filtrer les entrées du suivi
  %p
    = f.label :state, "État&nbsp;: ".html_safe
    = f.select :state, Tracker::States.invert, :include_blank => true
  %p
    = f.label :category_id, "Catégorie&nbsp;: ".html_safe
    = f.collection_select :category_id, Category.all, :id, :title, :include_blank => true
  %p
    = f.label :assigned_to_user_id, "Assigné à&nbsp;: ".html_safe
    = f.collection_select :assigned_to_user_id, Account.admin, :id, :name, :include_blank => true
  %p
    = label_tag :order, "Trier par&nbsp;: ".html_safe
    = select_tag :order, options_for_select({ "Date d'ouverture" => "created_at", "Note" => "score", "Nombre de commentaires" => "comments_count", "Dernier commentaire" => "last_commented_at" }, @order)
  %p
    = submit_tag "Filtrer"

#contents
  - if @trackers.empty?
    %p
      Pas d'entrées dans le suivi
  - else
    %table#tracker
      %tr
        %th N°
        %th Titre
        %th Date d'ouverture
        %th Assigné à
        %th Envoyé par
        %th Catégorie
        %th État
        %th Note
        %th Commentaires
        %th Actions
      - @trackers.each do |tracker|
        %tr{:class => tracker.state}
          %td= link_to tracker.id, tracker
          %td= link_to tracker.title, tracker
          %td= tracker.created_at.to_s(:posted)
          %td= tracker.assigned_to
          %td= tracker.user ? link_to(tracker.user.name, tracker.user) : "Anonyme"
          %td= link_to tracker.category_title, "/suivi?tracker%5Bcategory_id%5D=#{tracker.category_id}"
          %td= tracker.state_name
          %td.number= tracker.score
          %td.number= tracker.comments.count
          %td
            - if current_account && current_account.can_update?(tracker)
              = link_to "Modifier", "/suivi/#{tracker.to_param}/modifier"
            - else
              &nbsp;
