%main#contents(role="main")
  =h1 "Signaler un bug ou proposer une suggestion dans le suivi"

  - if @preview_mode
    = render "preview", :preview => @tracker
  - else
    = image_tag "/images/dessins/geekscottes_068.png", :alt => "Tu coderas pour moi !", :title => "Tu coderas pour moi ! - © Johann 'nojhan' Dréo : 2007-11-07 - Licence CC By-Sa 2.5"

  %p
    Des <a href="/regles_de_moderation">règles de modération</a> sont applicables au suivi (et au reste du site).

  .notice
    %strong Attention :
    les entrées du suivi sont publiques.
    Pour les éventuelles failles de sécurité, nous préférerions que vous nous avertissiez au préalable en envoyant un courriel à &lt;moderateurs_@_linuxfr.org&gt;.

  = form_for @tracker do |form|
    = render form

  = render 'shared/wiki_help'
