=h1 "Mes applications clientes"

%p
  Cette page est destinée aux développeurs.
  Elle permet de gérer des applications clientes OAuth2.

%p
  = link_to "Créer une application", new_auth_client_application_path

- if @client_applications.empty?
  %p Pas d'application
- else
  %table
    %tr
      %th Nom
      %th App_id
      %th App_secret
      %th Actions
    - @client_applications.each do |app|
      %tr
        %td
          = app.name
        %td
          %var= app.app_id
        %td
          %var= app.app_secret
        %td
          = link_to "Modifier", edit_auth_client_application_path(app), :class => "edit_client_app"
          = button_to "Supprimer", [:auth, app], :method => :delete, :data => { :confirm => "Êtes-vous sûr de vouloir supprimer cette application ?" }
