%footer.layout-footer
  %ul
    %li= link_to "Suivi", "/suivi"
    %li= link_to "FAQ", "/aide"
    %li= link_to "À propos", "/informations"
    %li= link_to "Mentions légales", "/mentions_legales"
    %li= link_to "Faire un don", "/faire_un_don"
    %li= link_to "Sites amis", "/sites_amis"
    %li= link_to "Plan", "/plan"
    %li= link_to "Code", "/code_source_du_site"
