%head
  %meta(charset="utf-8")
  %title= @title.join(' - ').html_safe
  - if current_account && current_account.stylesheet.present?
    = stylesheet_link_tag current_account.stylesheet, :media => "screen, projection"
  - else
    = stylesheet_link_tag 'application', :media => "screen, projection"
  = stylesheet_link_tag 'print', :media => "print"
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  - if @google_plus
    <link rel="publisher" href="https://plus.google.com/116704247328760228227" />
  - if @author
    %meta(name="author" content=@author)
  %meta(name="description" content=@description)
  %meta(name="keywords" content="#{@keywords.join ', '}")
  %meta(name="viewport" content="width=device-width")
  - if @dont_index
    %meta(name="robots" content="noindex, nofollow")
  <!--[if IE]>#{javascript_include_tag "html5"}<![endif]-->
  <!--[if lt IE 9]>#{javascript_include_tag "IE9"}<![endif]-->
  - @feeds.each do |link,title|
    = auto_discovery_link_tag :atom, link, { :title => title }
