%head
  %meta(charset="utf-8")
  %title= @title.join(' - ').html_safe
  - if current_account && current_account.stylesheet.present?
    = stylesheet_link_tag current_account.stylesheet, :media => "screen, projection"
  - else
    = include_stylesheets :default, :media => "screen, projection"
  = include_stylesheets :print, :media => "print"
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  -# TODO Thinking Sphinx compatible with Rails3
    <link rel="search" type="application/opensearchdescription+xml" title="Recherche LinuxFr.org" href="/opensearch.xml" />
  - if @author
    %meta(name="author" content=@author)
  %meta(name="description" content=@description)
  %meta(name="keywords" content="#{@keywords.join ', '}")
  - if @dont_index
    %meta(name="robots" content="noindex, nofollow")
  <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="/javascripts/IE9.js"></script><![endif]-->
  - @feeds.each do |link,title|
    = auto_discovery_link_tag :atom, link, { :title => title }
