%aside#sidebar
  %header#branding
    = logo

  .login.box
    :javascript
      if (location.protocol == 'http:') {
        document.write('<a href="https://' + location.hostname + location.pathname + '"><img alt="Accès en clair (http)" class="access" src="/images/icones/lock-insecure.png" /></a>');
      } else {
        document.write('<img alt="Accès sécurisé (https)" class="access" src="/images/icones/lock-secure.png" />');
      }
    - if account_signed_in?
      %h1= link_to current_account.login, current_account.user
      %ul
        %li Il vous reste #{current_account.nb_votes} avis
        %li= link_to "Proposer un contenu", '/proposer-un-contenu'
        %li= link_to "Mon tableau de bord", '/tableau-de-bord'
        %li= link_to "Mes contenus taggés", '/tags'
        %li= link_to "Modifier mes préférences", '/compte/modifier'
        %li= link_to "Changer de style", '/stylesheet/modifier'
        %li= link_to "Se déconnecter", '/compte/deconnexion'
    - else
      %h1 Se connecter
      = render "sessions/new", :id_suffix => "_sidebar"
      %ul
        %li= link_to "Pas de compte ? S'inscrire !", '/compte/inscription'
        %li= link_to "Proposer un contenu", '/proposer-un-contenu'
  - if current_account && current_account.admin?
    = render 'admin/box'
  - if current_account && current_account.amr?
    = render 'moderation/box'
  - if current_account && (current_account.writer? || current_account.amr?)
    = render 'redaction/box'
  = yield :column
