%aside#sidebar
  %header#branding= logo
  .login.box
    %h1= account_signed_in? ? link_to(current_account.login, current_account.user) : "Se connecter"
    :javascript
      if (location.protocol == 'http:') {
        document.write('<a class="insecure" href="https://' + location.hostname + location.pathname + '">Accès en clair (http)</a>');
      } else {
        document.write('<a class="secure">Accès sécurisé (https)</a>');
      }
    .new_content
      = link_to "Proposer un contenu", '/proposer-un-contenu'
    - if account_signed_in?
      %p
        Il vous reste
        %span#nb_votes #{current_account.nb_votes}
        avis
      %ul
        %li
          - if current_account.has_answers?
            = image_tag "/images/icones/chat.png", :alt => "Nouveaux !", :title => "Vous avez reçu des réponses à vos commentaires"
          = link_to "Mon tableau de bord", '/tableau-de-bord'
        %li= link_to "Mes contenus taggés", '/tags'
        %li= link_to "Les contenus que j'ai lus", '/readings'
        %li= link_to "Modifier mes préférences", '/compte/modifier'
        %li= link_to "Changer de style", '/stylesheet/modifier'
        %li= button_to "Se déconnecter", '/compte/deconnexion', :method => :post, :id => "logout"
    - else
      = render "sessions/new", :id_suffix => "_sidebar"
      %ul
        %li= link_to "Pas de compte&nbsp;? S'inscrire&nbsp;!".html_safe, '/compte/inscription'
  = yield :column
  - if current_account
    = render 'redaction/box'
    - if current_account.amr?
      = render 'moderation/box'
    - if current_account.admin?
      = render 'admin/box'
