%aside#sidebar
  %header#branding
    = logo

  .login.box
    - if request.ssl?
      = image_tag 'icones/lock-secure.png', :alt => "Accès sécurisé (https)", :class => "access"
    - else
      = image_tag 'icones/lock-insecure.png', :alt => "Accès en clair (http)", :class => "access"
    -# TODO authlogic
    - if false # current_user
      %h1= current_user.name
      %p Il vous reste #{current_user.account.nb_votes} avis
      %p= link_to "Proposer un contenu", '/proposer-un-contenu'
      %p= link_to "Mon tableau de bord", dashboard_path
      %p= link_to "Modifier mes préférences", edit_account_path
      %p= link_to "Changer de CSS", edit_compte_stylesheet_path
      %p= link_to "Se déconnecter", logout_path
    -# - else
    -#   = render 'account_sessions/new'
    -#   %p= link_to "Proposer un contenu", '/proposer-un-contenu-en-anonyme'
  -# TODO authlogic
  -# - admin_only do
  -#   = render 'admin/box'
  -# - amr_only do
  -#   = render 'moderation/box'
  -# - writer_only do
  -#   = render 'redaction/box'
  = yield :column
