%nav#site
  .go_to_content
    %a(href="#contents") Aller au contenu
    %a(href="#sidebar") Aller au menu
  %ul
    %li{:class => ("active" if controller_name == "home")}= link_to "Accueil", '/', :title => "Page d'accueil du site, personnalisable"
    %li{:class => ("active" if controller_name == "news" || controller_name == "sections")}= link_to "Dépêches", '/news', :title => "Actualités, événements et autres nouveautés"
    %li{:class => ("active" if controller_name == "diaries" || (controller_name == "users" && action_name == "show"))}= link_to "Journaux", '/journaux', :title => "Journaux personnels de nos visiteurs"
    %li{:class => ("active" if controller_name == "forums" || controller_name == "posts")}= link_to "Forums", '/forums', :title => "Questions/réponses, petites annonces"
    %li{:class => ("active" if controller_name == "polls")}= link_to "Sondages", '/sondages', :title => "Sondages proposées aux visiteurs du site"
    %li{:class => ("active" if controller_name == "wiki_pages" || controller_name == "wiki_versions")}= link_to "Wiki", '/wiki', :title => "Pages wiki"
    %li{:class => ("active" if controller_name == "trackers")}= link_to "Suivi", '/suivi', :title => "Suivi des suggestions et des bugs du site"
    %li{:class => ("active" if current_page?("/plan"))}= link_to "Plan", '/plan', :title => "Plan du site, aide, flux Atom, etc."
  = form_tag '/recherche', :method => :get do
    <label for="query" id="label_query">Recherche :</label>
    <input id="query" name="q" type="search" placeholder="Entrer un mot-clé" />
    = submit_tag "Rechercher", :name => nil, :id => "search_submit", :title => "Rechercher"
