%nav#site
  .go_to_content
    %a(href="#container") Aller au contenu
  %ul
    %li= link_to "Accueil", '/'
    %li= link_to "Dépêches", '/news'
    %li= link_to "Journaux", '/journaux'
    %li= link_to "Forums", '/forums'
    %li= link_to "Sondages", '/sondages'
    %li= link_to "Wiki", '/wiki'
    %li= link_to "Suivi", '/suivi'
    %li= link_to "Plan", '/plan'
  = form_tag '/recherche', :method => :get, :target => "_blank" do
    <input id="query" name="q" type="search" placeholder="Entrer un mot-clé" />
    = submit_tag "Rechercher", :name => nil
