<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    #top
    = render 'layouts/site'
    = render 'layouts/sidebar'
    %section#container
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      = yield :layout
      %footer
        %p= link_to "Revenir en haut de page", '#top', :class => 'scroll'
    - cache "fragments/layouts/footer", :expires_in => 1.minute do
      = render 'layouts/footer'
    = include_javascripts :default
