<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    #top
    = render 'layouts/header'
    %section#container
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      = render 'layouts/sidebar'
      = yield :layout
    = render 'layouts/footer'
    = javascript_pack_tag "application"
