<!DOCTYPE html>
%html(lang="fr")
  %head
    %title= @title.join ' -> '
    = stylesheet_link_tag 'style', 'markitup'
    <meta name="description" content="L'actualité de Linux et du Logiciel Libre" />
    <meta name="keywords" content="#{@keywords.join ', '}" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    - @feeds.each do |link,title|
      = auto_discovery_link_tag :atom, link, { :title => title }

  %body{body_attr}
    = check_js
    %nav#site
      %ul
        %li= link_to "Accueil", '/'
        %li= link_to "Dépêches", news_index_path
        %li= link_to "Entretiens", interviews_path
        %li= link_to "Journaux", diaries_path
        %li= link_to "Forums", forums_path
        %li= link_to "Sondages", polls_path
        %li= link_to "Wiki", wiki_pages_path
        %li= link_to "Suivi", trackers_path
        %li= link_to "Plan", static_path(:action => 'plan')
      - form_tag search_path, :method => :get do
        = text_field_tag :query
        = submit_tag "Rechercher"

    %header#branding
      = logo

    %aside#sidebar
      %article.login
        - if current_user
          %p= current_user.name
          %p= link_to "Proposer un contenu", '/proposer_un_contenu'
          %p= link_to "Mon tableau de bord", dashboard_path
          %p= link_to "Modifier mes préférences", edit_account_path
          %p= link_to "Se déconnecter", logout_path
        - else
          = render '/account_sessions/new'
          %p= link_to "Proposer un contenu", '/proposer_un_contenu_quand_on_est_anonyme'
      - admin_only do
        = render '/admin/box'
      - amr_only do
        = render '/moderation/box'
      = yield :column

    %section#container
      - [:error, :success, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      = yield :layout

    %footer#bigfooter
      #last-comments
        %h2 Derniers commentaires
        %ul
          - @last_comments.each do |comment|
            %li= link_to h(comment.title), node_comment_url(:node_id => comment.node_id, :id => comment.id)
      #popular-tags
        %h2 Tags populaires
        %ul
          - @popular_tags.each do |tag|
            %li= link_to h(tag.name), public_tag_url(:id => h(tag.name))
      #friends
        %h2 Sites amis
        %ul
          - @friend_sites.each do |site|
            %li= link_to site.title, site.url
      #about-us
        %h2 À propos de LinuxFr.org
        %ul
          %li= link_to "Nous contacter", '/contact'
          %li= link_to "Faire un don", '/faire_un_don'
          %li= link_to "Team LinuxFr.org", '/team'
          %li= link_to "Informations sur le site", '/informations'
          %li= link_to "Règles de modération", '/regles_de_moderation'
          %li= link_to "Statistiques", '/statistiques'
          %li= link_to "Code source du site", '/code_source_du_site'
          %li= link_to "Plan du site", '/plan'

    = javascript_include_tag 'jquery-1.3.2', 'jquery.nano', 'jquery.markitup', 'markitup-wiki', 'application'
