<!DOCTYPE html>
%html(lang="fr")
  = render "layouts/head"
  %body{body_attr}
    #top
    = render "layouts/header"
    %section
      - [:alert, :notice].each do |type|
        - if flash[type]
          .measure(class=type)= flash[type]
      = yield :layout
    = render "layouts/footer"
    = javascript_pack_tag "application"
