<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body.chat_n_edit{body_attr}
    #top
    = render 'layouts/site', home: true
    - [:alert, :notice].each do |type|
      - if flash[type]
        %div(class=type)= flash[type]
    %section#redaction.container
      %section#metadata= yield :metadata
      %section#edition= yield :layout
      %section#toolpanel{'data-popup-show' => true}= yield :toolpanel
    #toolbar= yield :toolbar
    = javascript_include_tag "application"
