<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    #top
    - cache "fragments/layouts/site", :expires_in => 30.days do
      = render 'layouts/site'
    %section#redaction
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      %section#edition= yield :layout
      %section#chat= yield :chat
    = include_javascripts :default
