<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    #top
    - cache "layouts/site", expires_in: 1.day do
      = render 'layouts/site'
    %section#redaction
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      %section#edition= yield :layout
      %section#chat= yield :chat
    = javascript_include_tag "application"
