<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    #top
    = render 'layouts/site', home: true
    %section#redaction.container
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      %section#sidebar= yield :sidebar
      %section#edition= yield :layout
      %section#chat= yield :chat
    = javascript_include_tag "application"
