<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body{body_attr, "class" => "chat_n_edit"}
    #top
    = render 'layouts/site', home: true
    %section#redaction.container
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      %section#redaction-aside= yield :aside
      %section#edition= yield :layout
      %section#redaction-infos= yield :infos
    = javascript_include_tag "application"
