<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'

  %body{body_attr}
    #top
      = check_js

    = render 'layouts/site'

    %section#redaction
      %section#edition
        = yield :layout
      %section#chat
        = yield :chat

    = common_js
    = javascript_include_tag 'dlfp.edition_in_place', 'redaction'
