<!DOCTYPE html>
%html(lang="fr")
  = render 'layouts/head'
  %body.chat_n_edit{body_attr}
    #top
    = render 'layouts/site', home: true
    %section#redaction.container
      - [:alert, :notice].each do |type|
        - if flash[type]
          %div(class=type)= flash[type]
      %section#metadata= yield :metadata
      %section#edition= yield :layout
      %section#toolpanel= yield :toolpanel
    = javascript_include_tag "application"
