<!DOCTYPE html>
%html(lang="fr")
  %head
    %title= @title.join ' -> '
    - if current_account_session && current_account_session.stylesheet
      = stylesheet_link_tag current_account_session.stylesheet
    - else
      = stylesheet_link_tag 'style', 'markitup'
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />

  %body{body_attr}
    #top
      = check_js

    %nav#site
      %ul
        %li= link_to "Accueil", '/'
        %li= link_to "Dépêches", news_index_path
        %li= link_to "Entretiens", interviews_path
        %li= link_to "Journaux", diaries_path
        %li= link_to "Forums", forums_path
        %li= link_to "Sondages", polls_path
        %li= link_to "Wiki", wiki_pages_path
        %li= link_to "Suivi", trackers_path
        %li= link_to "Plan", static_path(:id => 'plan')
      - form_tag search_path, :method => :get do
        <input id="query" name="q" type="search" placeholder="Entrer un mot-clé" />
        = submit_tag "Rechercher", :name => nil

    %section#redaction
      %section#edition
        = yield :layout
      %section#chat
        = yield :chat

    %script
      rails_authenticity_token = '#{form_authenticity_token}';
    = javascript_include_tag 'jquery-1.3.2', 'jquery.nano', 'jquery.autocomplete', 'jquery.markitup', 'jquery.chat', 'markitup-wiki', 'application'
    = javascript_include_tag 'jquery.edition_in_place', 'redaction'
